body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:963px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:488px;
}
#u778 {
  position:absolute;
  left:95px;
  top:151px;
  width:868px;
  height:488px;
}
#u779 {
  position:absolute;
  left:2px;
  top:236px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
