body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7627 {
  position:absolute;
  left:54px;
  top:95px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7628 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u7629 {
  position:absolute;
  left:160px;
  top:108px;
  width:111px;
  height:25px;
}
#u7630 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7631 {
  position:absolute;
  left:348px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7632 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7633 {
  position:absolute;
  left:425px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7634 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7635 {
  position:absolute;
  left:502px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7636 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7637 {
  position:absolute;
  left:579px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7638 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7639 {
  position:absolute;
  left:656px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7640 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7641 {
  position:absolute;
  left:733px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7642 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u7643 {
  position:absolute;
  left:56px;
  top:1183px;
  width:1043px;
  height:222px;
}
#u7644 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7645 {
  position:absolute;
  left:821px;
  top:96px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7646 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7647 {
  position:absolute;
  left:899px;
  top:97px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7648 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:1044px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u7649 {
  position:absolute;
  left:55px;
  top:147px;
  width:1044px;
  height:1044px;
  color:#F2F2F2;
}
#u7650 {
  position:absolute;
  left:2px;
  top:514px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7651 {
  position:absolute;
  left:706px;
  top:296px;
  width:168px;
  height:233px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7652 {
  position:absolute;
  left:2px;
  top:104px;
  width:164px;
  word-wrap:break-word;
}
#u7653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:7px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7654 {
  position:absolute;
  left:364px;
  top:1073px;
  width:158px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7655 {
  position:absolute;
  left:2px;
  top:13px;
  width:154px;
  word-wrap:break-word;
}
#u7656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7656 {
  position:absolute;
  left:630px;
  top:1073px;
  width:158px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7657 {
  position:absolute;
  left:2px;
  top:14px;
  width:154px;
  word-wrap:break-word;
}
#u7658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:47px;
}
#u7658 {
  position:absolute;
  left:411px;
  top:191px;
  width:334px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u7659 {
  position:absolute;
  left:0px;
  top:9px;
  width:334px;
  word-wrap:break-word;
}
#u7660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7660 {
  position:absolute;
  left:280px;
  top:296px;
  width:427px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7661 {
  position:absolute;
  left:2px;
  top:19px;
  width:423px;
  word-wrap:break-word;
}
#u7662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7662 {
  position:absolute;
  left:280px;
  top:396px;
  width:427px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7663 {
  position:absolute;
  left:2px;
  top:13px;
  width:423px;
  word-wrap:break-word;
}
#u7664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7664 {
  position:absolute;
  left:280px;
  top:440px;
  width:427px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7665 {
  position:absolute;
  left:2px;
  top:13px;
  width:423px;
  word-wrap:break-word;
}
#u7666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7666 {
  position:absolute;
  left:280px;
  top:484px;
  width:427px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7667 {
  position:absolute;
  left:2px;
  top:13px;
  width:423px;
  word-wrap:break-word;
}
#u7668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7668 {
  position:absolute;
  left:280px;
  top:352px;
  width:427px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7669 {
  position:absolute;
  left:2px;
  top:13px;
  width:423px;
  word-wrap:break-word;
}
#u7670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7672 {
  position:absolute;
  left:280px;
  top:852px;
  width:595px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7673 {
  position:absolute;
  left:2px;
  top:35px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u7674 {
  position:absolute;
  left:803px;
  top:867px;
  width:48px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  text-align:center;
}
#u7675 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u7676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u7676 {
  position:absolute;
  left:802px;
  top:903px;
  width:26px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  text-align:center;
}
#u7677 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u7678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u7678 {
  position:absolute;
  left:334px;
  top:869px;
  width:75px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7679 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u7680 {
  position:absolute;
  left:343px;
  top:905px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7681 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7682 {
  position:absolute;
  left:294px;
  top:882px;
  width:30px;
  height:30px;
}
#u7683 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7684 {
  position:absolute;
  left:280px;
  top:573px;
  width:595px;
  height:199px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7685 {
  position:absolute;
  left:2px;
  top:92px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:178px;
}
#u7686 {
  position:absolute;
  left:342px;
  top:588px;
  width:484px;
  height:178px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7687 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u7688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7688 {
  position:absolute;
  left:280px;
  top:771px;
  width:595px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7689 {
  position:absolute;
  left:2px;
  top:33px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7690 {
  position:absolute;
  left:294px;
  top:797px;
  width:30px;
  height:30px;
}
#u7691 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:51px;
}
#u7692 {
  position:absolute;
  left:342px;
  top:783px;
  width:484px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7693 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u7694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u7694 {
  position:absolute;
  left:457px;
  top:782px;
  width:123px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u7695 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u7696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7696 {
  position:absolute;
  left:299px;
  top:590px;
  width:25px;
  height:25px;
}
#u7697 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:28px;
}
#u7698 {
  position:absolute;
  left:280px;
  top:945px;
  width:595px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7699 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  word-wrap:break-word;
}
