body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4033 {
  position:absolute;
  left:98px;
  top:57px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4034 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u4035 {
  position:absolute;
  left:204px;
  top:70px;
  width:111px;
  height:25px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4037 {
  position:absolute;
  left:392px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4038 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4039 {
  position:absolute;
  left:469px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4040 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4041 {
  position:absolute;
  left:546px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4042 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4043 {
  position:absolute;
  left:623px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4044 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4045 {
  position:absolute;
  left:700px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4046 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4047 {
  position:absolute;
  left:777px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4048 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u4049 {
  position:absolute;
  left:98px;
  top:1411px;
  width:1043px;
  height:222px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4051 {
  position:absolute;
  left:865px;
  top:58px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4052 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4053 {
  position:absolute;
  left:943px;
  top:59px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4054 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:920px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u4055 {
  position:absolute;
  left:99px;
  top:491px;
  width:1044px;
  height:920px;
  color:#F2F2F2;
}
#u4056 {
  position:absolute;
  left:2px;
  top:452px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:384px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4057 {
  position:absolute;
  left:99px;
  top:108px;
  width:1044px;
  height:384px;
}
#u4058 {
  position:absolute;
  left:2px;
  top:184px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
}
#u4059 {
  position:absolute;
  left:182px;
  top:152px;
  width:290px;
  height:290px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:137px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:42px;
}
#u4061 {
  position:absolute;
  left:570px;
  top:164px;
  width:405px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u4062 {
  position:absolute;
  left:0px;
  top:2px;
  width:405px;
  word-wrap:break-word;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:48px;
}
#u4063 {
  position:absolute;
  left:570px;
  top:210px;
  width:405px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u4064 {
  position:absolute;
  left:0px;
  top:13px;
  width:405px;
  word-wrap:break-word;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:185px;
}
#u4065 {
  position:absolute;
  left:570px;
  top:265px;
  width:488px;
  height:185px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4066 {
  position:absolute;
  left:0px;
  top:56px;
  width:488px;
  word-wrap:break-word;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u4067 {
  position:absolute;
  left:133px;
  top:529px;
  width:419px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u4068 {
  position:absolute;
  left:0px;
  top:3px;
  width:419px;
  word-wrap:break-word;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:344px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4069 {
  position:absolute;
  left:1171px;
  top:451px;
  width:501px;
  height:344px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:164px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4071 {
  position:absolute;
  left:1209px;
  top:487px;
  width:429px;
  height:261px;
}
#u4072 {
  position:absolute;
  left:2px;
  top:122px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:37px;
}
#u4073 {
  position:absolute;
  left:1209px;
  top:488px;
  width:429px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u4074 {
  position:absolute;
  left:0px;
  top:8px;
  width:429px;
  word-wrap:break-word;
}
#u4075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4075 {
  position:absolute;
  left:1603px;
  top:494px;
  width:24px;
  height:24px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:7px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u4077 {
  position:absolute;
  left:1278px;
  top:677px;
  width:117px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u4078 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4079 {
  position:absolute;
  left:1475px;
  top:677px;
  width:117px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4080 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u4081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:92px;
}
#u4081 {
  position:absolute;
  left:1229px;
  top:555px;
  width:389px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u4082 {
  position:absolute;
  left:0px;
  top:36px;
  width:389px;
  word-wrap:break-word;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4083 {
  position:absolute;
  left:969px;
  top:521px;
  width:136px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4084 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u4086 {
  position:absolute;
  left:730px;
  top:176px;
  width:147px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4087 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:34px;
}
#u4088 {
  position:absolute;
  left:714px;
  top:166px;
  width:8px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4089 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u4090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4090 {
  position:absolute;
  left:358px;
  top:629px;
  width:147px;
  height:147px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
}
#u4092 {
  position:absolute;
  left:358px;
  top:629px;
  width:147px;
  height:147px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u4094 {
  position:absolute;
  left:462px;
  top:733px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4095 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  word-wrap:break-word;
}
#u4096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u4096 {
  position:absolute;
  left:560px;
  top:792px;
  width:146px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4097 {
  position:absolute;
  left:0px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u4098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
}
#u4098 {
  position:absolute;
  left:744px;
  top:792px;
  width:145px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4099 {
  position:absolute;
  left:0px;
  top:2px;
  width:145px;
  word-wrap:break-word;
}
#u4100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
}
#u4100 {
  position:absolute;
  left:939px;
  top:794px;
  width:141px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4101 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u4102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4103 {
  position:absolute;
  left:559px;
  top:628px;
  width:147px;
  height:147px;
}
#u4104 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u4105 {
  position:absolute;
  left:561px;
  top:630px;
  width:144px;
  height:144px;
}
#u4106 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u4107 {
  position:absolute;
  left:663px;
  top:731px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4108 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  word-wrap:break-word;
}
#u4109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4110 {
  position:absolute;
  left:936px;
  top:628px;
  width:147px;
  height:147px;
}
#u4111 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u4112 {
  position:absolute;
  left:938px;
  top:630px;
  width:144px;
  height:144px;
}
#u4113 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u4114 {
  position:absolute;
  left:1039px;
  top:731px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4115 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  word-wrap:break-word;
}
#u4116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4117 {
  position:absolute;
  left:742px;
  top:627px;
  width:147px;
  height:147px;
}
#u4118 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u4119 {
  position:absolute;
  left:744px;
  top:629px;
  width:144px;
  height:144px;
}
#u4120 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u4121 {
  position:absolute;
  left:846px;
  top:730px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4122 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  word-wrap:break-word;
}
#u4123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u4123 {
  position:absolute;
  left:403px;
  top:794px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4124 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#CCCCCC;
}
#u4126 {
  position:absolute;
  left:158px;
  top:629px;
  width:147px;
  height:147px;
  font-size:36px;
  color:#CCCCCC;
}
#u4127 {
  position:absolute;
  left:2px;
  top:52px;
  width:143px;
  word-wrap:break-word;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4128 {
  position:absolute;
  left:832px;
  top:522px;
  width:111px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4129 {
  position:absolute;
  left:2px;
  top:14px;
  width:107px;
  word-wrap:break-word;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u4130 {
  position:absolute;
  left:1051px;
  top:152px;
  width:54px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u4132 {
  position:absolute;
  left:133px;
  top:861px;
  width:419px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u4133 {
  position:absolute;
  left:0px;
  top:3px;
  width:419px;
  word-wrap:break-word;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:62px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4134 {
  position:absolute;
  left:136px;
  top:927px;
  width:978px;
  height:62px;
  color:#FFFFFF;
}
#u4135 {
  position:absolute;
  left:2px;
  top:23px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
}
#u4136 {
  position:absolute;
  left:136px;
  top:949px;
  width:203px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u4138 {
  position:absolute;
  left:448px;
  top:948px;
  width:82px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4139 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
}
#u4140 {
  position:absolute;
  left:339px;
  top:948px;
  width:110px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u4142 {
  position:absolute;
  left:530px;
  top:949px;
  width:74px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4143 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u4144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u4144 {
  position:absolute;
  left:705px;
  top:949px;
  width:95px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4145 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4146 {
  position:absolute;
  left:136px;
  top:988px;
  width:978px;
  height:77px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:30px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
}
#u4148 {
  position:absolute;
  left:168px;
  top:1021px;
  width:148px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4149 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u4150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u4150 {
  position:absolute;
  left:446px;
  top:1018px;
  width:82px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4151 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u4152 {
  position:absolute;
  left:339px;
  top:1020px;
  width:110px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4153 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u4154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u4154 {
  position:absolute;
  left:530px;
  top:1018px;
  width:74px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u4156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
}
#u4156 {
  position:absolute;
  left:705px;
  top:1015px;
  width:96px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4157 {
  position:absolute;
  left:0px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u4158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4158 {
  position:absolute;
  left:136px;
  top:1064px;
  width:978px;
  height:77px;
}
#u4159 {
  position:absolute;
  left:2px;
  top:30px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:19px;
}
#u4160 {
  position:absolute;
  left:156px;
  top:1094px;
  width:172px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4161 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u4162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u4162 {
  position:absolute;
  left:446px;
  top:1093px;
  width:82px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4163 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u4164 {
  position:absolute;
  left:338px;
  top:1095px;
  width:110px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4165 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u4166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u4166 {
  position:absolute;
  left:530px;
  top:1094px;
  width:74px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4167 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u4168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u4168 {
  position:absolute;
  left:705px;
  top:1093px;
  width:96px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4169 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u4170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4170 {
  position:absolute;
  left:136px;
  top:1139px;
  width:978px;
  height:77px;
}
#u4171 {
  position:absolute;
  left:2px;
  top:30px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u4172 {
  position:absolute;
  left:156px;
  top:1155px;
  width:172px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4173 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u4174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u4174 {
  position:absolute;
  left:446px;
  top:1161px;
  width:82px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4175 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u4176 {
  position:absolute;
  left:339px;
  top:1161px;
  width:110px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4177 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u4178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u4178 {
  position:absolute;
  left:530px;
  top:1162px;
  width:74px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4179 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u4180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u4180 {
  position:absolute;
  left:705px;
  top:1161px;
  width:96px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4181 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u4182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u4182 {
  position:absolute;
  left:800px;
  top:949px;
  width:124px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4183 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u4184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
}
#u4184 {
  position:absolute;
  left:923px;
  top:948px;
  width:191px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4185 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u4186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u4186 {
  position:absolute;
  left:801px;
  top:1020px;
  width:119px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4187 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u4188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:76px;
}
#u4188 {
  position:absolute;
  left:923px;
  top:988px;
  width:191px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4189 {
  position:absolute;
  left:0px;
  top:28px;
  width:191px;
  word-wrap:break-word;
}
#u4190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u4190 {
  position:absolute;
  left:801px;
  top:1096px;
  width:119px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4191 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u4192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:75px;
}
#u4192 {
  position:absolute;
  left:923px;
  top:1064px;
  width:191px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4193 {
  position:absolute;
  left:0px;
  top:28px;
  width:191px;
  word-wrap:break-word;
}
#u4194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u4194 {
  position:absolute;
  left:801px;
  top:1164px;
  width:119px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4195 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u4196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:68px;
}
#u4196 {
  position:absolute;
  left:923px;
  top:1139px;
  width:191px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4197 {
  position:absolute;
  left:0px;
  top:15px;
  width:191px;
  word-wrap:break-word;
}
#u4198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4198 {
  position:absolute;
  left:136px;
  top:1206px;
  width:978px;
  height:77px;
}
#u4199 {
  position:absolute;
  left:2px;
  top:30px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:19px;
}
#u4200 {
  position:absolute;
  left:156px;
  top:1232px;
  width:172px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4201 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u4202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u4202 {
  position:absolute;
  left:446px;
  top:1231px;
  width:82px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4203 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u4204 {
  position:absolute;
  left:338px;
  top:1233px;
  width:110px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4205 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u4206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u4206 {
  position:absolute;
  left:530px;
  top:1232px;
  width:74px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4207 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u4208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u4208 {
  position:absolute;
  left:705px;
  top:1231px;
  width:96px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4209 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u4210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u4210 {
  position:absolute;
  left:801px;
  top:1234px;
  width:119px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4211 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u4212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:57px;
}
#u4212 {
  position:absolute;
  left:923px;
  top:1212px;
  width:191px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4213 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u4214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:296px;
}
#u4214 {
  position:absolute;
  left:800px;
  top:988px;
  width:1px;
  height:295px;
  font-size:16px;
}
#u4215 {
  position:absolute;
  left:2px;
  top:140px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:296px;
}
#u4216 {
  position:absolute;
  left:339px;
  top:988px;
  width:1px;
  height:295px;
  font-size:16px;
}
#u4217 {
  position:absolute;
  left:2px;
  top:140px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
}
#u4218 {
  position:absolute;
  left:604px;
  top:949px;
  width:99px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4219 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u4220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u4220 {
  position:absolute;
  left:604px;
  top:1017px;
  width:99px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4221 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u4222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u4222 {
  position:absolute;
  left:604px;
  top:1093px;
  width:99px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4223 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u4224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u4224 {
  position:absolute;
  left:604px;
  top:1161px;
  width:99px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4225 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u4226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u4226 {
  position:absolute;
  left:604px;
  top:1231px;
  width:99px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u4227 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u4228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4228 {
  position:absolute;
  left:1027px;
  top:880px;
  width:87px;
  height:37px;
  color:#FFFFFF;
}
#u4229 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u4230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4230 {
  position:absolute;
  left:923px;
  top:880px;
  width:94px;
  height:37px;
}
#u4231 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
