body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1136px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:269px;
}
#u1397 {
  position:absolute;
  left:80px;
  top:385px;
  width:1055px;
  height:269px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:126px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:88px;
}
#u1399 {
  position:absolute;
  left:79px;
  top:305px;
  width:1057px;
  height:88px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:36px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
}
#u1401 {
  position:absolute;
  left:365px;
  top:313px;
  width:73px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1402 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:49px;
}
#u1403 {
  position:absolute;
  left:784px;
  top:305px;
  width:94px;
  height:49px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:201px;
}
#u1405 {
  position:absolute;
  left:80px;
  top:105px;
  width:1056px;
  height:201px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:92px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:379px;
}
#u1407 {
  position:absolute;
  left:80px;
  top:798px;
  width:1055px;
  height:379px;
}
#u1408 {
  position:absolute;
  left:2px;
  top:182px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u1409 {
  position:absolute;
  left:80px;
  top:52px;
  width:301px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#155BFF;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u1411 {
  position:absolute;
  left:80px;
  top:755px;
  width:301px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#155BFF;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
