body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1136px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:269px;
}
#u1483 {
  position:absolute;
  left:80px;
  top:385px;
  width:1055px;
  height:269px;
}
#u1484 {
  position:absolute;
  left:2px;
  top:126px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:88px;
}
#u1485 {
  position:absolute;
  left:79px;
  top:305px;
  width:1057px;
  height:88px;
}
#u1486 {
  position:absolute;
  left:2px;
  top:36px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
}
#u1487 {
  position:absolute;
  left:365px;
  top:313px;
  width:73px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1488 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:49px;
}
#u1489 {
  position:absolute;
  left:784px;
  top:305px;
  width:94px;
  height:49px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:201px;
}
#u1491 {
  position:absolute;
  left:80px;
  top:105px;
  width:1056px;
  height:201px;
}
#u1492 {
  position:absolute;
  left:2px;
  top:92px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:379px;
}
#u1493 {
  position:absolute;
  left:80px;
  top:798px;
  width:1055px;
  height:379px;
}
#u1494 {
  position:absolute;
  left:2px;
  top:182px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u1495 {
  position:absolute;
  left:80px;
  top:52px;
  width:301px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#155BFF;
}
#u1496 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
}
#u1497 {
  position:absolute;
  left:80px;
  top:755px;
  width:301px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#155BFF;
}
#u1498 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
