body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:998px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:532px;
}
#u782 {
  position:absolute;
  left:54px;
  top:1495px;
  width:944px;
  height:532px;
}
#u783 {
  position:absolute;
  left:2px;
  top:258px;
  width:940px;
  visibility:hidden;
  word-wrap:break-word;
}
