body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u6883 {
  position:absolute;
  left:80px;
  top:87px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u6884 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u6885 {
  position:absolute;
  left:186px;
  top:100px;
  width:111px;
  height:25px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6887 {
  position:absolute;
  left:374px;
  top:87px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6888 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6889 {
  position:absolute;
  left:451px;
  top:87px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6890 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6891 {
  position:absolute;
  left:528px;
  top:87px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6892 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6893 {
  position:absolute;
  left:605px;
  top:87px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6894 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6895 {
  position:absolute;
  left:682px;
  top:87px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6896 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6897 {
  position:absolute;
  left:759px;
  top:87px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6898 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u6899 {
  position:absolute;
  left:78px;
  top:2251px;
  width:1043px;
  height:222px;
}
#u6900 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6901 {
  position:absolute;
  left:847px;
  top:88px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u6902 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6903 {
  position:absolute;
  left:925px;
  top:89px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6904 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:1622px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u6905 {
  position:absolute;
  left:80px;
  top:136px;
  width:1044px;
  height:1622px;
  color:#F2F2F2;
}
#u6906 {
  position:absolute;
  left:2px;
  top:803px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:47px;
}
#u6907 {
  position:absolute;
  left:433px;
  top:166px;
  width:334px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u6908 {
  position:absolute;
  left:0px;
  top:9px;
  width:334px;
  word-wrap:break-word;
}
#u6909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6909 {
  position:absolute;
  left:436px;
  top:304px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6910 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6911 {
  position:absolute;
  left:436px;
  top:418px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6912 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6913 {
  position:absolute;
  left:436px;
  top:360px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6914 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6915 {
  position:absolute;
  left:436px;
  top:477px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6916 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:7px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u6917 {
  position:absolute;
  left:389px;
  top:1649px;
  width:158px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u6918 {
  position:absolute;
  left:2px;
  top:13px;
  width:154px;
  word-wrap:break-word;
}
#u6919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6919 {
  position:absolute;
  left:655px;
  top:1649px;
  width:158px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6920 {
  position:absolute;
  left:2px;
  top:14px;
  width:154px;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6921 {
  position:absolute;
  left:734px;
  top:313px;
  width:24px;
  height:24px;
}
#u6922 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u6923 {
  position:absolute;
  left:577px;
  top:266px;
  width:49px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6925 {
  position:absolute;
  left:434px;
  top:650px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6926 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6927 {
  position:absolute;
  left:434px;
  top:764px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6928 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6929 {
  position:absolute;
  left:434px;
  top:706px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6930 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6931 {
  position:absolute;
  left:434px;
  top:823px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6932 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6933 {
  position:absolute;
  left:732px;
  top:659px;
  width:24px;
  height:24px;
}
#u6934 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u6935 {
  position:absolute;
  left:575px;
  top:612px;
  width:49px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6936 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:2px;
}
#u6937 {
  position:absolute;
  left:374px;
  top:561px;
  width:463px;
  height:1px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:-8px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6939 {
  position:absolute;
  left:436px;
  top:990px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6940 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6941 {
  position:absolute;
  left:436px;
  top:1104px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6942 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6943 {
  position:absolute;
  left:436px;
  top:1046px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6944 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6945 {
  position:absolute;
  left:436px;
  top:1163px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6946 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6947 {
  position:absolute;
  left:734px;
  top:999px;
  width:24px;
  height:24px;
}
#u6948 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u6949 {
  position:absolute;
  left:577px;
  top:952px;
  width:49px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6950 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6951 {
  position:absolute;
  left:434px;
  top:1336px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6952 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6953 {
  position:absolute;
  left:434px;
  top:1450px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6954 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6955 {
  position:absolute;
  left:434px;
  top:1392px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6956 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6957 {
  position:absolute;
  left:434px;
  top:1509px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6958 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6959 {
  position:absolute;
  left:732px;
  top:1345px;
  width:24px;
  height:24px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u6961 {
  position:absolute;
  left:575px;
  top:1298px;
  width:49px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6962 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:2px;
}
#u6963 {
  position:absolute;
  left:374px;
  top:1247px;
  width:463px;
  height:1px;
}
#u6964 {
  position:absolute;
  left:2px;
  top:-8px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:2px;
}
#u6965 {
  position:absolute;
  left:374px;
  top:911px;
  width:463px;
  height:1px;
}
#u6966 {
  position:absolute;
  left:2px;
  top:-8px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
