body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:662px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2843 {
  position:absolute;
  left:29px;
  top:90px;
  width:1042px;
  height:662px;
}
#u2844 {
  position:absolute;
  left:2px;
  top:323px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2845 {
  position:absolute;
  left:28px;
  top:38px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2846 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u2847 {
  position:absolute;
  left:134px;
  top:51px;
  width:111px;
  height:25px;
}
#u2848 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2849 {
  position:absolute;
  left:322px;
  top:38px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2850 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2851 {
  position:absolute;
  left:399px;
  top:38px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2852 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2853 {
  position:absolute;
  left:476px;
  top:38px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2854 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2855 {
  position:absolute;
  left:553px;
  top:38px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2856 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2857 {
  position:absolute;
  left:630px;
  top:38px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2858 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2859 {
  position:absolute;
  left:707px;
  top:38px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2860 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2861 {
  position:absolute;
  left:784px;
  top:38px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2862 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:163px;
}
#u2863 {
  position:absolute;
  left:29px;
  top:752px;
  width:1042px;
  height:163px;
}
#u2864 {
  position:absolute;
  left:2px;
  top:74px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u2865 {
  position:absolute;
  left:29px;
  top:915px;
  width:1043px;
  height:222px;
}
#u2866 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2867 {
  position:absolute;
  left:571px;
  top:402px;
  width:143px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2868 {
  position:absolute;
  left:2px;
  top:14px;
  width:139px;
  word-wrap:break-word;
}
#u2869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2869 {
  position:absolute;
  left:382px;
  top:246px;
  width:334px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2870 {
  position:absolute;
  left:2px;
  top:11px;
  width:330px;
  word-wrap:break-word;
}
#u2871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2871 {
  position:absolute;
  left:382px;
  top:317px;
  width:334px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2872 {
  position:absolute;
  left:2px;
  top:11px;
  width:330px;
  word-wrap:break-word;
}
#u2873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D59DF;
}
#u2873 {
  position:absolute;
  left:382px;
  top:402px;
  width:143px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D59DF;
}
#u2874 {
  position:absolute;
  left:2px;
  top:14px;
  width:139px;
  word-wrap:break-word;
}
#u2875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:681px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2875 {
  position:absolute;
  left:28px;
  top:1297px;
  width:1042px;
  height:681px;
}
#u2876 {
  position:absolute;
  left:2px;
  top:332px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2877 {
  position:absolute;
  left:27px;
  top:1245px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2878 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u2879 {
  position:absolute;
  left:133px;
  top:1258px;
  width:111px;
  height:25px;
}
#u2880 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2881 {
  position:absolute;
  left:321px;
  top:1245px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2882 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2883 {
  position:absolute;
  left:398px;
  top:1245px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2884 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2885 {
  position:absolute;
  left:475px;
  top:1245px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2886 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2887 {
  position:absolute;
  left:552px;
  top:1245px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2888 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2889 {
  position:absolute;
  left:629px;
  top:1245px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2890 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2891 {
  position:absolute;
  left:706px;
  top:1245px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2892 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2893 {
  position:absolute;
  left:783px;
  top:1245px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2894 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u2895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u2895 {
  position:absolute;
  left:28px;
  top:1978px;
  width:1043px;
  height:222px;
}
#u2896 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:50px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2897 {
  position:absolute;
  left:571px;
  top:1764px;
  width:144px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2898 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D59DF;
}
#u2899 {
  position:absolute;
  left:601px;
  top:1541px;
  width:114px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D59DF;
}
#u2900 {
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  word-wrap:break-word;
}
#u2901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2901 {
  position:absolute;
  left:382px;
  top:1541px;
  width:203px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2902 {
  position:absolute;
  left:2px;
  top:11px;
  width:199px;
  word-wrap:break-word;
}
#u2903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:14px;
}
#u2903 {
  position:absolute;
  left:441px;
  top:1704px;
  width:235px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2904 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u2905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2905 {
  position:absolute;
  left:421px;
  top:1700px;
  width:20px;
  height:20px;
}
#u2906 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D59DF;
}
#u2907 {
  position:absolute;
  left:382px;
  top:1764px;
  width:144px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2D59DF;
}
#u2908 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:501px;
}
#u2909 {
  position:absolute;
  left:1648px;
  top:379px;
  width:722px;
  height:501px;
}
#u2910 {
  position:absolute;
  left:2px;
  top:242px;
  width:718px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u2911 {
  position:absolute;
  left:382px;
  top:247px;
  width:72px;
  height:40px;
  font-size:16px;
  color:#999999;
}
#u2912 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u2913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
}
#u2913 {
  position:absolute;
  left:1729px;
  top:330px;
  width:300px;
  height:21px;
  font-size:18px;
  color:#2D59DF;
}
#u2914 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u2915 {
  position:absolute;
  left:444px;
  top:253px;
  width:1px;
  height:28px;
}
#u2916 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
}
#u2917 {
  position:absolute;
  left:1645px;
  top:330px;
  width:74px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2918 {
  position:absolute;
  left:0px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2919 {
  position:absolute;
  left:382px;
  top:1470px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2920 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u2921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:39px;
}
#u2921 {
  position:absolute;
  left:382px;
  top:1471px;
  width:72px;
  height:39px;
  font-size:16px;
  color:#999999;
}
#u2922 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u2923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u2923 {
  position:absolute;
  left:447px;
  top:1477px;
  width:1px;
  height:28px;
}
#u2924 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2925 {
  position:absolute;
  left:382px;
  top:1614px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2926 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u2927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u2927 {
  position:absolute;
  left:654px;
  top:362px;
  width:61px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#C9C9C9;
  text-align:center;
}
#u2928 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:498px;
}
#u2929 {
  position:absolute;
  left:1105px;
  top:330px;
  width:486px;
  height:498px;
}
#u2930 {
  position:absolute;
  left:2px;
  top:241px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:447px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2932 {
  position:absolute;
  left:1166px;
  top:355px;
  width:377px;
  height:447px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:216px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:427px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2934 {
  position:absolute;
  left:1176px;
  top:366px;
  width:359px;
  height:427px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:206px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2936 {
  position:absolute;
  left:1200px;
  top:479px;
  width:312px;
  height:1px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2938 {
  position:absolute;
  left:1198px;
  top:535px;
  width:312px;
  height:1px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2940 {
  position:absolute;
  left:1200px;
  top:594px;
  width:312px;
  height:1px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2942 {
  position:absolute;
  left:1199px;
  top:651px;
  width:312px;
  height:1px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2944 {
  position:absolute;
  left:1201px;
  top:707px;
  width:312px;
  height:1px;
}
#u2945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2946 {
  position:absolute;
  left:1202px;
  top:763px;
  width:312px;
  height:1px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2948 {
  position:absolute;
  left:1202px;
  top:420px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2949 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2950 {
  position:absolute;
  left:1202px;
  top:481px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u2951 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2952 {
  position:absolute;
  left:1202px;
  top:536px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u2953 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2954 {
  position:absolute;
  left:1202px;
  top:595px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u2955 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2956 {
  position:absolute;
  left:1202px;
  top:651px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u2957 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2958 {
  position:absolute;
  left:1202px;
  top:708px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u2959 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
}
#u2960 {
  position:absolute;
  left:1176px;
  top:366px;
  width:359px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2961 {
  position:absolute;
  left:0px;
  top:16px;
  width:359px;
  word-wrap:break-word;
}
#u2962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u2962 {
  position:absolute;
  left:1380px;
  top:421px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:right;
}
#u2963 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u2964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u2964 {
  position:absolute;
  left:1380px;
  top:482px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u2965 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u2966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u2966 {
  position:absolute;
  left:1380px;
  top:537px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u2967 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u2968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u2968 {
  position:absolute;
  left:1380px;
  top:596px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u2969 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u2970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u2970 {
  position:absolute;
  left:1380px;
  top:652px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u2971 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u2972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u2972 {
  position:absolute;
  left:1380px;
  top:709px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u2973 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u2974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2974 {
  position:absolute;
  left:1248px;
  top:435px;
  width:30px;
  height:30px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2976 {
  position:absolute;
  left:1483px;
  top:382px;
  width:27px;
  height:27px;
}
#u2977 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:366px;
}
#u2978 {
  position:absolute;
  left:1105px;
  top:1643px;
  width:469px;
  height:366px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:175px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:306px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2981 {
  position:absolute;
  left:1142px;
  top:1663px;
  width:377px;
  height:306px;
}
#u2982 {
  position:absolute;
  left:2px;
  top:145px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:293px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2983 {
  position:absolute;
  left:1152px;
  top:1671px;
  width:359px;
  height:293px;
}
#u2984 {
  position:absolute;
  left:2px;
  top:138px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2985 {
  position:absolute;
  left:1176px;
  top:1787px;
  width:312px;
  height:1px;
}
#u2986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2987 {
  position:absolute;
  left:1174px;
  top:1843px;
  width:312px;
  height:1px;
}
#u2988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u2989 {
  position:absolute;
  left:1176px;
  top:1902px;
  width:312px;
  height:1px;
}
#u2990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2991 {
  position:absolute;
  left:1178px;
  top:1728px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u2992 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2993 {
  position:absolute;
  left:1178px;
  top:1789px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u2994 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2995 {
  position:absolute;
  left:1178px;
  top:1844px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u2996 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u2997 {
  position:absolute;
  left:1178px;
  top:1903px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u2998 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u2999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
}
#u2999 {
  position:absolute;
  left:1152px;
  top:1673px;
  width:359px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u3000 {
  position:absolute;
  left:0px;
  top:16px;
  width:359px;
  word-wrap:break-word;
}
#u3001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3001 {
  position:absolute;
  left:1252px;
  top:1743px;
  width:30px;
  height:30px;
}
#u3002 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3003 {
  position:absolute;
  left:1459px;
  top:1690px;
  width:27px;
  height:27px;
}
#u3004 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D59DF;
}
#u3005 {
  position:absolute;
  left:1080px;
  top:1536px;
  width:114px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D59DF;
}
#u3006 {
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  word-wrap:break-word;
}
#u3007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:47px;
}
#u3007 {
  position:absolute;
  left:382px;
  top:1386px;
  width:334px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u3008 {
  position:absolute;
  left:0px;
  top:9px;
  width:334px;
  word-wrap:break-word;
}
#u3009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:47px;
}
#u3009 {
  position:absolute;
  left:382px;
  top:159px;
  width:334px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u3010 {
  position:absolute;
  left:0px;
  top:9px;
  width:334px;
  word-wrap:break-word;
}
#u3011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u3011 {
  position:absolute;
  left:759px;
  top:1434px;
  width:113px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3012 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u3013 {
  position:absolute;
  left:765px;
  top:1565px;
  width:81px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3014 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u3015 {
  position:absolute;
  left:766px;
  top:1633px;
  width:97px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3016 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u3017 {
  position:absolute;
  left:768px;
  top:1694px;
  width:90px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3018 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u3019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u3019 {
  position:absolute;
  left:768px;
  top:1724px;
  width:129px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3020 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u3021 {
  position:absolute;
  left:759px;
  top:1466px;
  width:113px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3022 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u3023 {
  position:absolute;
  left:759px;
  top:1495px;
  width:145px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3024 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u3025 {
  position:absolute;
  left:760px;
  top:1524px;
  width:129px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3026 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u3027 {
  position:absolute;
  left:765px;
  top:1597px;
  width:113px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3028 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u3029 {
  position:absolute;
  left:768px;
  top:1665px;
  width:97px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3030 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u3031 {
  position:absolute;
  left:681px;
  top:1660px;
  width:24px;
  height:15px;
}
#u3032 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u3033 {
  position:absolute;
  left:681px;
  top:1627px;
  width:24px;
  height:15px;
}
#u3034 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u3035 {
  position:absolute;
  left:726px;
  top:330px;
  width:24px;
  height:15px;
}
#u3036 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u3037 {
  position:absolute;
  left:678px;
  top:330px;
  width:24px;
  height:15px;
}
#u3038 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:255px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3040 {
  position:absolute;
  left:1105px;
  top:38px;
  width:377px;
  height:255px;
}
#u3041 {
  position:absolute;
  left:2px;
  top:120px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3042 {
  position:absolute;
  left:1115px;
  top:44px;
  width:359px;
  height:244px;
}
#u3043 {
  position:absolute;
  left:2px;
  top:114px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:184px;
}
#u3044 {
  position:absolute;
  left:1115px;
  top:104px;
  width:359px;
  height:184px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:center;
}
#u3045 {
  position:absolute;
  left:0px;
  top:80px;
  width:359px;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
}
#u3046 {
  position:absolute;
  left:1115px;
  top:46px;
  width:359px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u3047 {
  position:absolute;
  left:0px;
  top:16px;
  width:359px;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3048 {
  position:absolute;
  left:1422px;
  top:65px;
  width:27px;
  height:27px;
}
#u3049 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u3050 {
  position:absolute;
  left:1541px;
  top:119px;
  width:97px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u3051 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
}
#u3052 {
  position:absolute;
  left:1541px;
  top:148px;
  width:177px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u3053 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u3054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u3054 {
  position:absolute;
  left:761px;
  top:361px;
  width:97px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3055 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u3056 {
  position:absolute;
  left:1541px;
  top:82px;
  width:113px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
}
#u3057 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u3058 {
  position:absolute;
  left:760px;
  top:249px;
  width:113px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3059 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u3060 {
  position:absolute;
  left:760px;
  top:281px;
  width:113px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3061 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u3062 {
  position:absolute;
  left:760px;
  top:313px;
  width:145px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3063 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u3064 {
  position:absolute;
  left:761px;
  top:390px;
  width:97px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3065 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:255px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3067 {
  position:absolute;
  left:1115px;
  top:1245px;
  width:377px;
  height:255px;
}
#u3068 {
  position:absolute;
  left:2px;
  top:120px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3069 {
  position:absolute;
  left:1125px;
  top:1251px;
  width:359px;
  height:244px;
}
#u3070 {
  position:absolute;
  left:2px;
  top:114px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:184px;
}
#u3071 {
  position:absolute;
  left:1125px;
  top:1311px;
  width:359px;
  height:184px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:center;
}
#u3072 {
  position:absolute;
  left:0px;
  top:80px;
  width:359px;
  word-wrap:break-word;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
}
#u3073 {
  position:absolute;
  left:1125px;
  top:1253px;
  width:359px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u3074 {
  position:absolute;
  left:0px;
  top:16px;
  width:359px;
  word-wrap:break-word;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3075 {
  position:absolute;
  left:1432px;
  top:1272px;
  width:27px;
  height:27px;
}
#u3076 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:90px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3078 {
  position:absolute;
  left:1117px;
  top:2040px;
  width:332px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3079 {
  position:absolute;
  left:2px;
  top:33px;
  width:328px;
  word-wrap:break-word;
}
