body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4827 {
  position:absolute;
  left:61px;
  top:65px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4828 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u4829 {
  position:absolute;
  left:167px;
  top:78px;
  width:111px;
  height:25px;
}
#u4830 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4831 {
  position:absolute;
  left:355px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4832 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4833 {
  position:absolute;
  left:432px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4834 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4835 {
  position:absolute;
  left:509px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4836 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4837 {
  position:absolute;
  left:586px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4838 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4839 {
  position:absolute;
  left:663px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4840 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4841 {
  position:absolute;
  left:740px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4842 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u4843 {
  position:absolute;
  left:62px;
  top:939px;
  width:1043px;
  height:222px;
}
#u4844 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4845 {
  position:absolute;
  left:828px;
  top:66px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4846 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4847 {
  position:absolute;
  left:906px;
  top:67px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4848 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:441px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u4849 {
  position:absolute;
  left:62px;
  top:499px;
  width:1044px;
  height:441px;
  color:#F2F2F2;
}
#u4850 {
  position:absolute;
  left:2px;
  top:212px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:384px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4851 {
  position:absolute;
  left:62px;
  top:116px;
  width:1044px;
  height:384px;
}
#u4852 {
  position:absolute;
  left:2px;
  top:184px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
}
#u4853 {
  position:absolute;
  left:145px;
  top:160px;
  width:290px;
  height:290px;
}
#u4854 {
  position:absolute;
  left:2px;
  top:137px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:48px;
}
#u4855 {
  position:absolute;
  left:533px;
  top:218px;
  width:405px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u4856 {
  position:absolute;
  left:0px;
  top:13px;
  width:405px;
  word-wrap:break-word;
}
#u4857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:185px;
}
#u4857 {
  position:absolute;
  left:533px;
  top:273px;
  width:488px;
  height:185px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4858 {
  position:absolute;
  left:0px;
  top:56px;
  width:488px;
  word-wrap:break-word;
}
#u4859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u4859 {
  position:absolute;
  left:96px;
  top:537px;
  width:419px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u4860 {
  position:absolute;
  left:0px;
  top:3px;
  width:419px;
  word-wrap:break-word;
}
#u4861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:185px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4862 {
  position:absolute;
  left:1137px;
  top:1350px;
  width:377px;
  height:185px;
}
#u4863 {
  position:absolute;
  left:2px;
  top:84px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4864 {
  position:absolute;
  left:1147px;
  top:1353px;
  width:359px;
  height:177px;
}
#u4865 {
  position:absolute;
  left:2px;
  top:80px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u4866 {
  position:absolute;
  left:1171px;
  top:1472px;
  width:312px;
  height:1px;
}
#u4867 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u4868 {
  position:absolute;
  left:1173px;
  top:1413px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u4869 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u4870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:59px;
}
#u4870 {
  position:absolute;
  left:1173px;
  top:1474px;
  width:199px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u4871 {
  position:absolute;
  left:0px;
  top:18px;
  width:199px;
  word-wrap:break-word;
}
#u4872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
}
#u4872 {
  position:absolute;
  left:1147px;
  top:1355px;
  width:359px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u4873 {
  position:absolute;
  left:0px;
  top:16px;
  width:359px;
  word-wrap:break-word;
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4874 {
  position:absolute;
  left:1265px;
  top:1428px;
  width:30px;
  height:30px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u4876 {
  position:absolute;
  left:1454px;
  top:1370px;
  width:27px;
  height:27px;
}
#u4877 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:447px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4879 {
  position:absolute;
  left:1136px;
  top:1569px;
  width:377px;
  height:447px;
}
#u4880 {
  position:absolute;
  left:2px;
  top:216px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:427px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4881 {
  position:absolute;
  left:1146px;
  top:1580px;
  width:359px;
  height:427px;
}
#u4882 {
  position:absolute;
  left:2px;
  top:206px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u4883 {
  position:absolute;
  left:1170px;
  top:1693px;
  width:312px;
  height:1px;
}
#u4884 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u4885 {
  position:absolute;
  left:1168px;
  top:1749px;
  width:312px;
  height:1px;
}
#u4886 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u4887 {
  position:absolute;
  left:1170px;
  top:1808px;
  width:312px;
  height:1px;
}
#u4888 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u4889 {
  position:absolute;
  left:1169px;
  top:1865px;
  width:312px;
  height:1px;
}
#u4890 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u4891 {
  position:absolute;
  left:1171px;
  top:1921px;
  width:312px;
  height:1px;
}
#u4892 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u4893 {
  position:absolute;
  left:1172px;
  top:1977px;
  width:312px;
  height:1px;
}
#u4894 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u4895 {
  position:absolute;
  left:1172px;
  top:1634px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u4896 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u4897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u4897 {
  position:absolute;
  left:1172px;
  top:1695px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u4898 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u4899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u4899 {
  position:absolute;
  left:1172px;
  top:1750px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u4900 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u4901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u4901 {
  position:absolute;
  left:1172px;
  top:1809px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u4902 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u4903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u4903 {
  position:absolute;
  left:1172px;
  top:1865px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u4904 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u4905 {
  position:absolute;
  left:1172px;
  top:1922px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u4906 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u4907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
}
#u4907 {
  position:absolute;
  left:1146px;
  top:1580px;
  width:359px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u4908 {
  position:absolute;
  left:0px;
  top:16px;
  width:359px;
  word-wrap:break-word;
}
#u4909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u4909 {
  position:absolute;
  left:1350px;
  top:1635px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:right;
}
#u4910 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u4911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u4911 {
  position:absolute;
  left:1350px;
  top:1696px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u4912 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u4913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u4913 {
  position:absolute;
  left:1350px;
  top:1751px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u4914 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u4915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u4915 {
  position:absolute;
  left:1350px;
  top:1810px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u4916 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u4917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u4917 {
  position:absolute;
  left:1350px;
  top:1866px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u4918 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u4919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u4919 {
  position:absolute;
  left:1350px;
  top:1923px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u4920 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u4921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4921 {
  position:absolute;
  left:1218px;
  top:1649px;
  width:30px;
  height:30px;
}
#u4922 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u4923 {
  position:absolute;
  left:1453px;
  top:1596px;
  width:27px;
  height:27px;
}
#u4924 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4925 {
  position:absolute;
  left:61px;
  top:1255px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4926 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u4927 {
  position:absolute;
  left:167px;
  top:1268px;
  width:111px;
  height:25px;
}
#u4928 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4929 {
  position:absolute;
  left:355px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4930 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4931 {
  position:absolute;
  left:432px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4932 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4933 {
  position:absolute;
  left:509px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4934 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4935 {
  position:absolute;
  left:586px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4936 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4937 {
  position:absolute;
  left:663px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4938 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4939 {
  position:absolute;
  left:740px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4940 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u4941 {
  position:absolute;
  left:62px;
  top:2129px;
  width:1043px;
  height:222px;
}
#u4942 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4943 {
  position:absolute;
  left:828px;
  top:1256px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4944 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4945 {
  position:absolute;
  left:906px;
  top:1257px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4946 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:441px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u4947 {
  position:absolute;
  left:62px;
  top:1689px;
  width:1044px;
  height:441px;
  color:#F2F2F2;
}
#u4948 {
  position:absolute;
  left:2px;
  top:212px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:384px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4949 {
  position:absolute;
  left:62px;
  top:1306px;
  width:1044px;
  height:384px;
}
#u4950 {
  position:absolute;
  left:2px;
  top:184px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
}
#u4951 {
  position:absolute;
  left:145px;
  top:1350px;
  width:290px;
  height:290px;
}
#u4952 {
  position:absolute;
  left:2px;
  top:137px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:48px;
}
#u4953 {
  position:absolute;
  left:533px;
  top:1408px;
  width:405px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u4954 {
  position:absolute;
  left:0px;
  top:13px;
  width:405px;
  word-wrap:break-word;
}
#u4955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:185px;
}
#u4955 {
  position:absolute;
  left:533px;
  top:1463px;
  width:488px;
  height:185px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4956 {
  position:absolute;
  left:0px;
  top:56px;
  width:488px;
  word-wrap:break-word;
}
#u4957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u4957 {
  position:absolute;
  left:96px;
  top:1727px;
  width:419px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u4958 {
  position:absolute;
  left:0px;
  top:3px;
  width:419px;
  word-wrap:break-word;
}
#u4959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.43921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4959 {
  position:absolute;
  left:369px;
  top:1606px;
  width:66px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4960 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u4961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u4961 {
  position:absolute;
  left:988px;
  top:1350px;
  width:39px;
  height:39px;
}
#u4962 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u4963 {
  position:absolute;
  left:1037px;
  top:1350px;
  width:39px;
  height:39px;
}
#u4964 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4965 {
  position:absolute;
  left:940px;
  top:1719px;
  width:136px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4966 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:42px;
}
#u4968 {
  position:absolute;
  left:533px;
  top:1356px;
  width:405px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u4969 {
  position:absolute;
  left:0px;
  top:2px;
  width:405px;
  word-wrap:break-word;
}
#u4970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u4971 {
  position:absolute;
  left:693px;
  top:1368px;
  width:147px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4972 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u4973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:34px;
}
#u4973 {
  position:absolute;
  left:677px;
  top:1358px;
  width:8px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4974 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u4975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:1097px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4976 {
  position:absolute;
  left:62px;
  top:1255px;
  width:1044px;
  height:1097px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:540px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:398px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4978 {
  position:absolute;
  left:308px;
  top:1568px;
  width:564px;
  height:398px;
}
#u4979 {
  position:absolute;
  left:2px;
  top:191px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:49px;
}
#u4980 {
  position:absolute;
  left:308px;
  top:1569px;
  width:564px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u4981 {
  position:absolute;
  left:0px;
  top:12px;
  width:564px;
  word-wrap:break-word;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u4982 {
  position:absolute;
  left:835px;
  top:1580px;
  width:27px;
  height:24px;
}
#u4983 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u4984 {
  position:absolute;
  left:423px;
  top:1742px;
  width:334px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u4985 {
  position:absolute;
  left:2px;
  top:11px;
  width:330px;
  word-wrap:break-word;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u4986 {
  position:absolute;
  left:423px;
  top:1743px;
  width:72px;
  height:40px;
  font-size:16px;
  color:#999999;
}
#u4987 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u4988 {
  position:absolute;
  left:482px;
  top:1749px;
  width:1px;
  height:28px;
}
#u4989 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:7px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u4990 {
  position:absolute;
  left:378px;
  top:1866px;
  width:158px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u4991 {
  position:absolute;
  left:2px;
  top:13px;
  width:154px;
  word-wrap:break-word;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4992 {
  position:absolute;
  left:644px;
  top:1866px;
  width:158px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4993 {
  position:absolute;
  left:2px;
  top:14px;
  width:154px;
  word-wrap:break-word;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u4994 {
  position:absolute;
  left:423px;
  top:1669px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u4995 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u4996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:42px;
}
#u4997 {
  position:absolute;
  left:533px;
  top:158px;
  width:405px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u4998 {
  position:absolute;
  left:0px;
  top:2px;
  width:405px;
  word-wrap:break-word;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u5000 {
  position:absolute;
  left:693px;
  top:170px;
  width:147px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:34px;
}
#u5002 {
  position:absolute;
  left:677px;
  top:160px;
  width:8px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5004 {
  position:absolute;
  left:724px;
  top:1678px;
  width:24px;
  height:24px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#CCCCCC;
}
#u5007 {
  position:absolute;
  left:158px;
  top:629px;
  width:147px;
  height:147px;
  font-size:36px;
  color:#CCCCCC;
}
#u5008 {
  position:absolute;
  left:2px;
  top:52px;
  width:143px;
  word-wrap:break-word;
}
#u5009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5009 {
  position:absolute;
  left:936px;
  top:525px;
  width:136px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5010 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u5011 {
  position:absolute;
  left:1018px;
  top:156px;
  width:54px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u5012 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5013 {
  position:absolute;
  left:800px;
  top:525px;
  width:111px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5014 {
  position:absolute;
  left:2px;
  top:14px;
  width:107px;
  word-wrap:break-word;
}
#u5015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
}
#u5016 {
  position:absolute;
  left:337px;
  top:796px;
  width:146px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5018 {
  position:absolute;
  left:336px;
  top:629px;
  width:147px;
  height:147px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
}
#u5020 {
  position:absolute;
  left:336px;
  top:629px;
  width:147px;
  height:147px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u5022 {
  position:absolute;
  left:440px;
  top:732px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5023 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  word-wrap:break-word;
}
