body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1143px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7472 {
  position:absolute;
  left:98px;
  top:57px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7473 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u7474 {
  position:absolute;
  left:204px;
  top:70px;
  width:111px;
  height:25px;
}
#u7475 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7476 {
  position:absolute;
  left:392px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7477 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7478 {
  position:absolute;
  left:469px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7479 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7480 {
  position:absolute;
  left:546px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7481 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7482 {
  position:absolute;
  left:623px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7483 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7484 {
  position:absolute;
  left:700px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7485 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7486 {
  position:absolute;
  left:777px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7487 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u7488 {
  position:absolute;
  left:100px;
  top:1008px;
  width:1043px;
  height:222px;
}
#u7489 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7490 {
  position:absolute;
  left:865px;
  top:58px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7491 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7492 {
  position:absolute;
  left:943px;
  top:59px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7493 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:899px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u7494 {
  position:absolute;
  left:99px;
  top:109px;
  width:1044px;
  height:899px;
  color:#F2F2F2;
}
#u7495 {
  position:absolute;
  left:2px;
  top:442px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:47px;
}
#u7496 {
  position:absolute;
  left:475px;
  top:140px;
  width:293px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u7497 {
  position:absolute;
  left:0px;
  top:9px;
  width:293px;
  word-wrap:break-word;
}
#u7498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
}
#u7498 {
  position:absolute;
  left:244px;
  top:287px;
  width:132px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7499 {
  position:absolute;
  left:0px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u7500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 160, 59, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7501 {
  position:absolute;
  left:244px;
  top:358px;
  width:330px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7502 {
  position:absolute;
  left:2px;
  top:73px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u7504 {
  position:absolute;
  left:252px;
  top:371px;
  width:134px;
  height:134px;
}
#u7505 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:121px;
}
#u7506 {
  position:absolute;
  left:397px;
  top:376px;
  width:165px;
  height:121px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u7507 {
  position:absolute;
  left:0px;
  top:13px;
  width:165px;
  word-wrap:break-word;
}
#u7508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7509 {
  position:absolute;
  left:668px;
  top:358px;
  width:330px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7510 {
  position:absolute;
  left:2px;
  top:73px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u7512 {
  position:absolute;
  left:676px;
  top:371px;
  width:134px;
  height:134px;
}
#u7513 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:121px;
}
#u7514 {
  position:absolute;
  left:821px;
  top:376px;
  width:165px;
  height:121px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u7515 {
  position:absolute;
  left:0px;
  top:13px;
  width:165px;
  word-wrap:break-word;
}
#u7516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u7516 {
  position:absolute;
  left:244px;
  top:333px;
  width:754px;
  height:1px;
}
#u7517 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
}
#u7518 {
  position:absolute;
  left:244px;
  top:599px;
  width:132px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7519 {
  position:absolute;
  left:0px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u7520 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7521 {
  position:absolute;
  left:244px;
  top:670px;
  width:330px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7522 {
  position:absolute;
  left:2px;
  top:73px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7523 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u7524 {
  position:absolute;
  left:252px;
  top:683px;
  width:134px;
  height:134px;
}
#u7525 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:121px;
}
#u7526 {
  position:absolute;
  left:397px;
  top:688px;
  width:165px;
  height:121px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u7527 {
  position:absolute;
  left:0px;
  top:13px;
  width:165px;
  word-wrap:break-word;
}
#u7528 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7529 {
  position:absolute;
  left:668px;
  top:670px;
  width:330px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7530 {
  position:absolute;
  left:2px;
  top:73px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7531 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u7532 {
  position:absolute;
  left:676px;
  top:683px;
  width:134px;
  height:134px;
}
#u7533 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:121px;
}
#u7534 {
  position:absolute;
  left:821px;
  top:688px;
  width:165px;
  height:121px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u7535 {
  position:absolute;
  left:0px;
  top:13px;
  width:165px;
  word-wrap:break-word;
}
#u7536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u7536 {
  position:absolute;
  left:244px;
  top:645px;
  width:754px;
  height:1px;
}
#u7537 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u7538 {
  position:absolute;
  left:538px;
  top:484px;
  width:37px;
  height:37px;
}
#u7539 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:47px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:2px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7540 {
  position:absolute;
  left:498px;
  top:902px;
  width:245px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7541 {
  position:absolute;
  left:2px;
  top:14px;
  width:241px;
  word-wrap:break-word;
}
#u7542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:2px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7542 {
  position:absolute;
  left:244px;
  top:232px;
  width:105px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7543 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u7544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u7544 {
  position:absolute;
  left:349px;
  top:232px;
  width:105px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u7545 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
