body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1143px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7348 {
  position:absolute;
  left:98px;
  top:57px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7349 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u7350 {
  position:absolute;
  left:204px;
  top:70px;
  width:111px;
  height:25px;
}
#u7351 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7352 {
  position:absolute;
  left:392px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7353 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7354 {
  position:absolute;
  left:469px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7355 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7356 {
  position:absolute;
  left:546px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7357 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7358 {
  position:absolute;
  left:623px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7359 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7360 {
  position:absolute;
  left:700px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7361 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7362 {
  position:absolute;
  left:777px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7363 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u7364 {
  position:absolute;
  left:100px;
  top:1008px;
  width:1043px;
  height:222px;
}
#u7365 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7366 {
  position:absolute;
  left:865px;
  top:58px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7367 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u7368 {
  position:absolute;
  left:943px;
  top:59px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7369 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u7370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:899px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u7370 {
  position:absolute;
  left:99px;
  top:109px;
  width:1044px;
  height:899px;
  color:#F2F2F2;
}
#u7371 {
  position:absolute;
  left:2px;
  top:442px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:47px;
}
#u7372 {
  position:absolute;
  left:475px;
  top:140px;
  width:293px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u7373 {
  position:absolute;
  left:0px;
  top:9px;
  width:293px;
  word-wrap:break-word;
}
#u7374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
}
#u7374 {
  position:absolute;
  left:244px;
  top:287px;
  width:132px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7375 {
  position:absolute;
  left:0px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u7376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 160, 59, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7377 {
  position:absolute;
  left:244px;
  top:358px;
  width:330px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7378 {
  position:absolute;
  left:2px;
  top:73px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u7380 {
  position:absolute;
  left:252px;
  top:371px;
  width:134px;
  height:134px;
}
#u7381 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:121px;
}
#u7382 {
  position:absolute;
  left:397px;
  top:376px;
  width:165px;
  height:121px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u7383 {
  position:absolute;
  left:0px;
  top:13px;
  width:165px;
  word-wrap:break-word;
}
#u7384 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7385 {
  position:absolute;
  left:668px;
  top:358px;
  width:330px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7386 {
  position:absolute;
  left:2px;
  top:73px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7387 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u7388 {
  position:absolute;
  left:676px;
  top:371px;
  width:134px;
  height:134px;
}
#u7389 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:121px;
}
#u7390 {
  position:absolute;
  left:821px;
  top:376px;
  width:165px;
  height:121px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u7391 {
  position:absolute;
  left:0px;
  top:13px;
  width:165px;
  word-wrap:break-word;
}
#u7392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u7392 {
  position:absolute;
  left:244px;
  top:333px;
  width:754px;
  height:1px;
}
#u7393 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
}
#u7394 {
  position:absolute;
  left:244px;
  top:599px;
  width:132px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7395 {
  position:absolute;
  left:0px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u7396 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7397 {
  position:absolute;
  left:244px;
  top:670px;
  width:330px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7398 {
  position:absolute;
  left:2px;
  top:73px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7399 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u7400 {
  position:absolute;
  left:252px;
  top:683px;
  width:134px;
  height:134px;
}
#u7401 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:121px;
}
#u7402 {
  position:absolute;
  left:397px;
  top:688px;
  width:165px;
  height:121px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u7403 {
  position:absolute;
  left:0px;
  top:13px;
  width:165px;
  word-wrap:break-word;
}
#u7404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7405 {
  position:absolute;
  left:668px;
  top:670px;
  width:330px;
  height:162px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7406 {
  position:absolute;
  left:2px;
  top:73px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u7408 {
  position:absolute;
  left:676px;
  top:683px;
  width:134px;
  height:134px;
}
#u7409 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:121px;
}
#u7410 {
  position:absolute;
  left:821px;
  top:688px;
  width:165px;
  height:121px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u7411 {
  position:absolute;
  left:0px;
  top:13px;
  width:165px;
  word-wrap:break-word;
}
#u7412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u7412 {
  position:absolute;
  left:244px;
  top:645px;
  width:754px;
  height:1px;
}
#u7413 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u7414 {
  position:absolute;
  left:538px;
  top:484px;
  width:37px;
  height:37px;
}
#u7415 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:47px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:2px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7416 {
  position:absolute;
  left:498px;
  top:902px;
  width:245px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7417 {
  position:absolute;
  left:2px;
  top:14px;
  width:241px;
  word-wrap:break-word;
}
#u7418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:2px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7418 {
  position:absolute;
  left:244px;
  top:232px;
  width:105px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7419 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u7420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u7420 {
  position:absolute;
  left:349px;
  top:232px;
  width:105px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u7421 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
