body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u770 {
  position:absolute;
  left:59px;
  top:2px;
  width:32px;
  height:32px;
  color:#5E5E5E;
}
#u771 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:656px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:19px;
  top:25px;
  width:1077px;
  height:656px;
}
#u774 {
  position:absolute;
  left:2px;
  top:320px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:19px;
  top:25px;
  width:1077px;
  height:46px;
}
#u776 {
  position:absolute;
  left:2px;
  top:15px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u778 {
  position:absolute;
  left:44px;
  top:43px;
  width:118px;
  height:16px;
  color:#FFFFFF;
}
#u779 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u780 {
  position:absolute;
  left:1011px;
  top:43px;
  width:66px;
  height:16px;
  color:#FFFFFF;
}
#u781 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u782 {
  position:absolute;
  left:981px;
  top:41px;
  width:20px;
  height:20px;
}
#u783 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u784 {
  position:absolute;
  left:561px;
  top:120px;
  width:121px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u786 {
  position:absolute;
  left:66px;
  top:115px;
  width:28px;
  height:28px;
}
#u787 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u788 {
  position:absolute;
  left:107px;
  top:120px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u790 {
  position:absolute;
  left:193px;
  top:256px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u791 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u792 {
  position:absolute;
  left:193px;
  top:301px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u793 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u794 {
  position:absolute;
  left:193px;
  top:346px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u795 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u796 {
  position:absolute;
  left:193px;
  top:391px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u797 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u798 {
  position:absolute;
  left:193px;
  top:436px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u799 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#A1A1A1;
  text-align:left;
}
#u800 {
  position:absolute;
  left:367px;
  top:272px;
  width:508px;
  height:221px;
  font-size:14px;
  color:#A1A1A1;
  text-align:left;
}
#u801 {
  position:absolute;
  left:2px;
  top:-2px;
  width:504px;
  word-wrap:break-word;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u802 {
  position:absolute;
  left:543px;
  top:563px;
  width:115px;
  height:37px;
  font-size:16px;
}
#u803 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u804 {
  position:absolute;
  left:193px;
  top:481px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u805 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u806 {
  position:absolute;
  left:789px;
  top:499px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#3333FF;
  text-align:right;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u808 {
  position:absolute;
  left:62px;
  top:851px;
  width:32px;
  height:32px;
  color:#5E5E5E;
}
#u809 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:870px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  position:absolute;
  left:22px;
  top:874px;
  width:1077px;
  height:870px;
}
#u812 {
  position:absolute;
  left:2px;
  top:427px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:22px;
  top:874px;
  width:1077px;
  height:46px;
}
#u814 {
  position:absolute;
  left:2px;
  top:15px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u816 {
  position:absolute;
  left:47px;
  top:892px;
  width:118px;
  height:16px;
  color:#FFFFFF;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u818 {
  position:absolute;
  left:1014px;
  top:892px;
  width:66px;
  height:16px;
  color:#FFFFFF;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u820 {
  position:absolute;
  left:984px;
  top:890px;
  width:20px;
  height:20px;
}
#u821 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u822 {
  position:absolute;
  left:543px;
  top:969px;
  width:161px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u824 {
  position:absolute;
  left:69px;
  top:964px;
  width:28px;
  height:28px;
}
#u825 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u826 {
  position:absolute;
  left:110px;
  top:969px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u828 {
  position:absolute;
  left:196px;
  top:1105px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u829 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u830 {
  position:absolute;
  left:196px;
  top:1150px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u831 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u832 {
  position:absolute;
  left:196px;
  top:1195px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u833 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u834 {
  position:absolute;
  left:196px;
  top:1240px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u835 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u836 {
  position:absolute;
  left:196px;
  top:1285px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u837 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#A1A1A1;
  text-align:left;
}
#u838 {
  position:absolute;
  left:369px;
  top:1121px;
  width:508px;
  height:221px;
  font-size:14px;
  color:#A1A1A1;
  text-align:left;
}
#u839 {
  position:absolute;
  left:2px;
  top:-2px;
  width:504px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u840 {
  position:absolute;
  left:489px;
  top:1412px;
  width:115px;
  height:37px;
  font-size:16px;
}
#u841 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u842 {
  position:absolute;
  left:643px;
  top:1412px;
  width:115px;
  height:37px;
  font-size:16px;
}
#u843 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u844 {
  position:absolute;
  left:196px;
  top:1330px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u845 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u846 {
  position:absolute;
  left:791px;
  top:1349px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#3333FF;
  text-align:right;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 204, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u850 {
  position:absolute;
  left:422px;
  top:1379px;
  width:481px;
  height:285px;
  font-size:14px;
  text-align:left;
}
#u851 {
  position:absolute;
  left:2px;
  top:134px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u852 {
  position:absolute;
  left:826px;
  top:1368px;
  width:47px;
  height:28px;
}
#u853 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:259px;
}
#u854 {
  position:absolute;
  left:436px;
  top:1397px;
  width:429px;
  height:259px;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u856 {
  position:absolute;
  left:1162px;
  top:256px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u857 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u858 {
  position:absolute;
  left:1162px;
  top:301px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u859 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u860 {
  position:absolute;
  left:1162px;
  top:346px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u861 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u862 {
  position:absolute;
  left:1162px;
  top:391px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u863 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u864 {
  position:absolute;
  left:1162px;
  top:436px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u865 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u866 {
  position:absolute;
  left:1334px;
  top:272px;
  width:508px;
  height:221px;
  font-size:14px;
  text-align:left;
}
#u867 {
  position:absolute;
  left:2px;
  top:-2px;
  width:504px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u868 {
  position:absolute;
  left:1454px;
  top:563px;
  width:115px;
  height:37px;
  font-size:16px;
}
#u869 {
  position:absolute;
  left:2px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u870 {
  position:absolute;
  left:1162px;
  top:481px;
  width:131px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#777777;
}
#u871 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u872 {
  position:absolute;
  left:370px;
  top:1347px;
  width:107px;
  height:16px;
  color:#999999;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
