body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1691px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:1838px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u4035 {
  position:absolute;
  left:51px;
  top:157px;
  width:1044px;
  height:1838px;
  color:#F2F2F2;
}
#u4036 {
  position:absolute;
  left:2px;
  top:911px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037 {
  position:absolute;
  left:51px;
  top:158px;
  width:1044px;
  height:244px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:114px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4039 {
  position:absolute;
  left:51px;
  top:107px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4040 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u4041 {
  position:absolute;
  left:157px;
  top:120px;
  width:111px;
  height:25px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4043 {
  position:absolute;
  left:345px;
  top:107px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4044 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4045 {
  position:absolute;
  left:422px;
  top:107px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4046 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4047 {
  position:absolute;
  left:499px;
  top:107px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4048 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4049 {
  position:absolute;
  left:576px;
  top:107px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4050 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4051 {
  position:absolute;
  left:653px;
  top:107px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4052 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4053 {
  position:absolute;
  left:730px;
  top:107px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4054 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u4055 {
  position:absolute;
  left:52px;
  top:1995px;
  width:1043px;
  height:222px;
}
#u4056 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4057 {
  position:absolute;
  left:818px;
  top:108px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4058 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4059 {
  position:absolute;
  left:51px;
  top:401px;
  width:1044px;
  height:339px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:162px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4061 {
  position:absolute;
  left:896px;
  top:109px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4062 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u4063 {
  position:absolute;
  left:83px;
  top:1588px;
  width:419px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#434343;
}
#u4064 {
  position:absolute;
  left:0px;
  top:6px;
  width:419px;
  word-wrap:break-word;
}
#u4065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u4066 {
  position:absolute;
  left:1278px;
  top:167px;
  width:168px;
  height:168px;
}
#u4067 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u4068 {
  position:absolute;
  left:362px;
  top:245px;
  width:61px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4069 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 162, 252, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4070 {
  position:absolute;
  left:51px;
  top:439px;
  width:176px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4071 {
  position:absolute;
  left:2px;
  top:17px;
  width:172px;
  word-wrap:break-word;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:53px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4072 {
  position:absolute;
  left:229px;
  top:439px;
  width:176px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4073 {
  position:absolute;
  left:2px;
  top:17px;
  width:172px;
  word-wrap:break-word;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:53px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4074 {
  position:absolute;
  left:407px;
  top:439px;
  width:176px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4075 {
  position:absolute;
  left:2px;
  top:17px;
  width:172px;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:53px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4076 {
  position:absolute;
  left:585px;
  top:439px;
  width:176px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4077 {
  position:absolute;
  left:2px;
  top:17px;
  width:172px;
  word-wrap:break-word;
}
#u4078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u4078 {
  position:absolute;
  left:133px;
  top:200px;
  width:168px;
  height:168px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:799px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4080 {
  position:absolute;
  left:51px;
  top:739px;
  width:1044px;
  height:799px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:392px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:47px;
}
#u4082 {
  position:absolute;
  left:76px;
  top:781px;
  width:334px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u4083 {
  position:absolute;
  left:0px;
  top:9px;
  width:334px;
  word-wrap:break-word;
}
#u4084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:220px;
}
#u4084 {
  position:absolute;
  left:256px;
  top:828px;
  width:613px;
  height:220px;
}
#u4085 {
  position:absolute;
  left:2px;
  top:102px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:213px;
}
#u4086 {
  position:absolute;
  left:257px;
  top:1057px;
  width:613px;
  height:213px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:98px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:230px;
}
#u4088 {
  position:absolute;
  left:257px;
  top:1279px;
  width:613px;
  height:230px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:107px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4090 {
  position:absolute;
  left:1043px;
  top:346px;
  width:30px;
  height:30px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4092 {
  position:absolute;
  left:1003px;
  top:346px;
  width:30px;
  height:30px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4094 {
  position:absolute;
  left:433px;
  top:239px;
  width:30px;
  height:30px;
}
#u4095 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:24px;
}
#u4096 {
  position:absolute;
  left:362px;
  top:311px;
  width:169px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4097 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u4098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u4098 {
  position:absolute;
  left:1522px;
  top:205px;
  width:61px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4099 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4100 {
  position:absolute;
  left:1593px;
  top:199px;
  width:30px;
  height:30px;
}
#u4101 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:24px;
}
#u4102 {
  position:absolute;
  left:1522px;
  top:271px;
  width:169px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4103 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4104 {
  position:absolute;
  left:1628px;
  top:200px;
  width:30px;
  height:30px;
}
#u4105 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:143px;
}
#u4106 {
  position:absolute;
  left:1138px;
  top:517px;
  width:546px;
  height:143px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF6633;
}
#u4107 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u4108 {
  position:absolute;
  left:139px;
  top:492px;
  width:0px;
  height:0px;
  font-size:16px;
  color:#FF6600;
}
#u4108_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u4108_seg1 {
  position:absolute;
  left:-4px;
  top:17px;
  width:1007px;
  height:8px;
}
#u4108_seg2 {
  position:absolute;
  left:995px;
  top:17px;
  width:8px;
  height:8px;
}
#u4108_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4109 {
  position:absolute;
  left:441px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:22px;
}
#u4110 {
  position:absolute;
  left:1138px;
  top:446px;
  width:361px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF6633;
}
#u4111 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u4112 {
  position:absolute;
  left:1018px;
  top:376px;
  width:0px;
  height:0px;
  font-size:16px;
  color:#FF6600;
}
#u4112_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u4112_seg1 {
  position:absolute;
  left:-4px;
  top:77px;
  width:124px;
  height:8px;
}
#u4112_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4113 {
  position:absolute;
  left:-30px;
  top:73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4114 {
  position:absolute;
  left:1058px;
  top:376px;
  width:0px;
  height:0px;
  font-size:16px;
  color:#FF6600;
}
#u4114_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u4114_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:148px;
  height:8px;
}
#u4114_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4115 {
  position:absolute;
  left:8px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u4116 {
  position:absolute;
  left:1202px;
  top:393px;
  width:163px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF6633;
}
#u4117 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u4118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:26px;
}
#u4118 {
  position:absolute;
  left:370px;
  top:598px;
  width:451px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#868686;
  text-align:center;
}
#u4119 {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  word-wrap:break-word;
}
#u4120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:39px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4120 {
  position:absolute;
  left:1005px;
  top:461px;
  width:77px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4121 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u4122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4122 {
  position:absolute;
  left:349px;
  top:1669px;
  width:225px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4123 {
  position:absolute;
  left:2px;
  top:14px;
  width:221px;
  word-wrap:break-word;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4124 {
  position:absolute;
  left:573px;
  top:1669px;
  width:225px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4125 {
  position:absolute;
  left:2px;
  top:14px;
  width:221px;
  word-wrap:break-word;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4126 {
  position:absolute;
  left:795px;
  top:1669px;
  width:225px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4127 {
  position:absolute;
  left:2px;
  top:14px;
  width:221px;
  word-wrap:break-word;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:50px;
  background:inherit;
  background-color:rgba(52, 162, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4128 {
  position:absolute;
  left:127px;
  top:1669px;
  width:225px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4129 {
  position:absolute;
  left:2px;
  top:14px;
  width:221px;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2D59DF;
}
#u4130 {
  position:absolute;
  left:127px;
  top:1794px;
  width:435px;
  height:77px;
  font-size:16px;
  color:#2D59DF;
}
#u4131 {
  position:absolute;
  left:2px;
  top:29px;
  width:431px;
  word-wrap:break-word;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2D59DF;
}
#u4132 {
  position:absolute;
  left:127px;
  top:1719px;
  width:435px;
  height:77px;
  font-size:16px;
  color:#2D59DF;
}
#u4133 {
  position:absolute;
  left:2px;
  top:29px;
  width:431px;
  word-wrap:break-word;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4134 {
  position:absolute;
  left:782px;
  top:1794px;
  width:238px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4135 {
  position:absolute;
  left:2px;
  top:29px;
  width:234px;
  word-wrap:break-word;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4136 {
  position:absolute;
  left:782px;
  top:1719px;
  width:238px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4137 {
  position:absolute;
  left:2px;
  top:29px;
  width:234px;
  word-wrap:break-word;
}
#u4138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4138 {
  position:absolute;
  left:561px;
  top:1794px;
  width:222px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4139 {
  position:absolute;
  left:2px;
  top:29px;
  width:218px;
  word-wrap:break-word;
}
#u4140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4140 {
  position:absolute;
  left:561px;
  top:1719px;
  width:222px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4141 {
  position:absolute;
  left:2px;
  top:29px;
  width:218px;
  word-wrap:break-word;
}
#u4142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2D59DF;
}
#u4142 {
  position:absolute;
  left:127px;
  top:1870px;
  width:435px;
  height:77px;
  font-size:16px;
  color:#2D59DF;
}
#u4143 {
  position:absolute;
  left:2px;
  top:29px;
  width:431px;
  word-wrap:break-word;
}
#u4144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4144 {
  position:absolute;
  left:782px;
  top:1870px;
  width:238px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4145 {
  position:absolute;
  left:2px;
  top:29px;
  width:234px;
  word-wrap:break-word;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4146 {
  position:absolute;
  left:561px;
  top:1870px;
  width:222px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:29px;
  width:218px;
  word-wrap:break-word;
}
