body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5854 {
  position:absolute;
  left:98px;
  top:57px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5855 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u5856 {
  position:absolute;
  left:204px;
  top:70px;
  width:111px;
  height:25px;
}
#u5857 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5858 {
  position:absolute;
  left:392px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5859 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5860 {
  position:absolute;
  left:469px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5861 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5862 {
  position:absolute;
  left:546px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5863 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5864 {
  position:absolute;
  left:623px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5865 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5866 {
  position:absolute;
  left:700px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5867 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5868 {
  position:absolute;
  left:777px;
  top:57px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5869 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u5870 {
  position:absolute;
  left:100px;
  top:1371px;
  width:1043px;
  height:222px;
}
#u5871 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5872 {
  position:absolute;
  left:865px;
  top:58px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5873 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5874 {
  position:absolute;
  left:943px;
  top:59px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5875 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:880px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u5876 {
  position:absolute;
  left:99px;
  top:491px;
  width:1044px;
  height:880px;
  color:#F2F2F2;
}
#u5877 {
  position:absolute;
  left:2px;
  top:432px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:384px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5878 {
  position:absolute;
  left:99px;
  top:108px;
  width:1044px;
  height:384px;
}
#u5879 {
  position:absolute;
  left:2px;
  top:184px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
}
#u5880 {
  position:absolute;
  left:182px;
  top:152px;
  width:290px;
  height:290px;
}
#u5881 {
  position:absolute;
  left:2px;
  top:137px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:48px;
}
#u5882 {
  position:absolute;
  left:570px;
  top:210px;
  width:405px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u5883 {
  position:absolute;
  left:0px;
  top:13px;
  width:405px;
  word-wrap:break-word;
}
#u5884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:185px;
}
#u5884 {
  position:absolute;
  left:570px;
  top:265px;
  width:488px;
  height:185px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5885 {
  position:absolute;
  left:0px;
  top:56px;
  width:488px;
  word-wrap:break-word;
}
#u5886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u5886 {
  position:absolute;
  left:133px;
  top:529px;
  width:419px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u5887 {
  position:absolute;
  left:0px;
  top:3px;
  width:419px;
  word-wrap:break-word;
}
#u5888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:344px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5888 {
  position:absolute;
  left:1171px;
  top:570px;
  width:501px;
  height:344px;
}
#u5889 {
  position:absolute;
  left:2px;
  top:164px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5890 {
  position:absolute;
  left:1209px;
  top:606px;
  width:429px;
  height:261px;
}
#u5891 {
  position:absolute;
  left:2px;
  top:122px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:37px;
}
#u5892 {
  position:absolute;
  left:1209px;
  top:607px;
  width:429px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u5893 {
  position:absolute;
  left:0px;
  top:8px;
  width:429px;
  word-wrap:break-word;
}
#u5894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5894 {
  position:absolute;
  left:1603px;
  top:613px;
  width:24px;
  height:24px;
}
#u5895 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:7px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u5896 {
  position:absolute;
  left:1278px;
  top:796px;
  width:117px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u5897 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u5898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5898 {
  position:absolute;
  left:1475px;
  top:796px;
  width:117px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5899 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u5900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:92px;
}
#u5900 {
  position:absolute;
  left:1209px;
  top:674px;
  width:429px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u5901 {
  position:absolute;
  left:0px;
  top:36px;
  width:429px;
  word-wrap:break-word;
}
#u5902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:42px;
}
#u5903 {
  position:absolute;
  left:570px;
  top:164px;
  width:405px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u5904 {
  position:absolute;
  left:0px;
  top:2px;
  width:405px;
  word-wrap:break-word;
}
#u5905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u5906 {
  position:absolute;
  left:730px;
  top:176px;
  width:147px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5907 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u5908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:34px;
}
#u5908 {
  position:absolute;
  left:714px;
  top:166px;
  width:8px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5909 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5910 {
  position:absolute;
  left:358px;
  top:629px;
  width:147px;
  height:147px;
}
#u5911 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
}
#u5912 {
  position:absolute;
  left:358px;
  top:629px;
  width:147px;
  height:147px;
}
#u5913 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u5914 {
  position:absolute;
  left:462px;
  top:733px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5915 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  word-wrap:break-word;
}
#u5916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
}
#u5916 {
  position:absolute;
  left:560px;
  top:794px;
  width:146px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5917 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u5918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
}
#u5918 {
  position:absolute;
  left:744px;
  top:792px;
  width:145px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5919 {
  position:absolute;
  left:0px;
  top:2px;
  width:145px;
  word-wrap:break-word;
}
#u5920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
}
#u5920 {
  position:absolute;
  left:939px;
  top:794px;
  width:141px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5921 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u5922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5923 {
  position:absolute;
  left:559px;
  top:628px;
  width:147px;
  height:147px;
}
#u5924 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u5925 {
  position:absolute;
  left:561px;
  top:630px;
  width:144px;
  height:144px;
}
#u5926 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u5927 {
  position:absolute;
  left:663px;
  top:731px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5928 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  word-wrap:break-word;
}
#u5929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5930 {
  position:absolute;
  left:936px;
  top:628px;
  width:147px;
  height:147px;
}
#u5931 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u5932 {
  position:absolute;
  left:938px;
  top:630px;
  width:144px;
  height:144px;
}
#u5933 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u5934 {
  position:absolute;
  left:1039px;
  top:731px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5935 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  word-wrap:break-word;
}
#u5936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5937 {
  position:absolute;
  left:742px;
  top:627px;
  width:147px;
  height:147px;
}
#u5938 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u5939 {
  position:absolute;
  left:744px;
  top:629px;
  width:144px;
  height:144px;
}
#u5940 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u5941 {
  position:absolute;
  left:846px;
  top:730px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5942 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  word-wrap:break-word;
}
#u5943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u5943 {
  position:absolute;
  left:403px;
  top:794px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5944 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#CCCCCC;
}
#u5946 {
  position:absolute;
  left:158px;
  top:629px;
  width:147px;
  height:147px;
  font-size:36px;
  color:#CCCCCC;
}
#u5947 {
  position:absolute;
  left:2px;
  top:52px;
  width:143px;
  word-wrap:break-word;
}
#u5948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5948 {
  position:absolute;
  left:678px;
  top:613px;
  width:32px;
  height:32px;
}
#u5949 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5950 {
  position:absolute;
  left:872px;
  top:613px;
  width:32px;
  height:32px;
}
#u5951 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5952 {
  position:absolute;
  left:1066px;
  top:612px;
  width:32px;
  height:32px;
}
#u5953 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5954 {
  position:absolute;
  left:969px;
  top:521px;
  width:136px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5955 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u5956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u5956 {
  position:absolute;
  left:1051px;
  top:152px;
  width:54px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u5958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5958 {
  position:absolute;
  left:833px;
  top:521px;
  width:111px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5959 {
  position:absolute;
  left:2px;
  top:14px;
  width:107px;
  word-wrap:break-word;
}
#u5960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u5960 {
  position:absolute;
  left:133px;
  top:861px;
  width:419px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u5961 {
  position:absolute;
  left:0px;
  top:3px;
  width:419px;
  word-wrap:break-word;
}
#u5962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:62px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5962 {
  position:absolute;
  left:136px;
  top:927px;
  width:978px;
  height:62px;
  color:#FFFFFF;
}
#u5963 {
  position:absolute;
  left:2px;
  top:23px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
}
#u5964 {
  position:absolute;
  left:136px;
  top:949px;
  width:203px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5965 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u5966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u5966 {
  position:absolute;
  left:448px;
  top:948px;
  width:82px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5967 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
}
#u5968 {
  position:absolute;
  left:339px;
  top:948px;
  width:110px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5969 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u5970 {
  position:absolute;
  left:530px;
  top:949px;
  width:74px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5971 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u5972 {
  position:absolute;
  left:705px;
  top:949px;
  width:95px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5973 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u5974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5974 {
  position:absolute;
  left:136px;
  top:988px;
  width:978px;
  height:77px;
}
#u5975 {
  position:absolute;
  left:2px;
  top:30px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
}
#u5976 {
  position:absolute;
  left:168px;
  top:1021px;
  width:148px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D59DF;
  text-align:center;
}
#u5977 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u5978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u5978 {
  position:absolute;
  left:446px;
  top:1018px;
  width:82px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u5980 {
  position:absolute;
  left:339px;
  top:1020px;
  width:110px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u5981 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u5982 {
  position:absolute;
  left:530px;
  top:1018px;
  width:74px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u5983 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
}
#u5984 {
  position:absolute;
  left:705px;
  top:1015px;
  width:96px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u5985 {
  position:absolute;
  left:0px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u5986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5986 {
  position:absolute;
  left:136px;
  top:1064px;
  width:978px;
  height:77px;
}
#u5987 {
  position:absolute;
  left:2px;
  top:30px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:19px;
}
#u5988 {
  position:absolute;
  left:156px;
  top:1094px;
  width:172px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D59DF;
  text-align:center;
}
#u5989 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u5990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u5990 {
  position:absolute;
  left:446px;
  top:1093px;
  width:82px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u5991 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u5992 {
  position:absolute;
  left:338px;
  top:1095px;
  width:110px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u5993 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u5994 {
  position:absolute;
  left:530px;
  top:1094px;
  width:74px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u5995 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u5996 {
  position:absolute;
  left:705px;
  top:1093px;
  width:96px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5998 {
  position:absolute;
  left:136px;
  top:1139px;
  width:978px;
  height:77px;
}
#u5999 {
  position:absolute;
  left:2px;
  top:30px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u6000 {
  position:absolute;
  left:156px;
  top:1155px;
  width:172px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D59DF;
  text-align:center;
}
#u6001 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u6002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u6002 {
  position:absolute;
  left:446px;
  top:1161px;
  width:82px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6003 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u6004 {
  position:absolute;
  left:339px;
  top:1161px;
  width:110px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6005 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u6006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u6006 {
  position:absolute;
  left:530px;
  top:1162px;
  width:74px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6007 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u6008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u6008 {
  position:absolute;
  left:705px;
  top:1161px;
  width:96px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6009 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u6010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u6010 {
  position:absolute;
  left:800px;
  top:949px;
  width:124px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u6011 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u6012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
}
#u6012 {
  position:absolute;
  left:923px;
  top:948px;
  width:191px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u6013 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u6014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u6014 {
  position:absolute;
  left:801px;
  top:1020px;
  width:119px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6015 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u6016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:76px;
}
#u6016 {
  position:absolute;
  left:923px;
  top:988px;
  width:191px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6017 {
  position:absolute;
  left:0px;
  top:28px;
  width:191px;
  word-wrap:break-word;
}
#u6018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u6018 {
  position:absolute;
  left:801px;
  top:1096px;
  width:119px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6019 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u6020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:75px;
}
#u6020 {
  position:absolute;
  left:923px;
  top:1064px;
  width:191px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6021 {
  position:absolute;
  left:0px;
  top:28px;
  width:191px;
  word-wrap:break-word;
}
#u6022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u6022 {
  position:absolute;
  left:801px;
  top:1164px;
  width:119px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6023 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u6024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:68px;
}
#u6024 {
  position:absolute;
  left:923px;
  top:1139px;
  width:191px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6025 {
  position:absolute;
  left:0px;
  top:15px;
  width:191px;
  word-wrap:break-word;
}
#u6026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6026 {
  position:absolute;
  left:136px;
  top:1206px;
  width:978px;
  height:77px;
}
#u6027 {
  position:absolute;
  left:2px;
  top:30px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:19px;
}
#u6028 {
  position:absolute;
  left:156px;
  top:1232px;
  width:172px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D59DF;
  text-align:center;
}
#u6029 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u6030 {
  position:absolute;
  left:446px;
  top:1231px;
  width:82px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6031 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
}
#u6032 {
  position:absolute;
  left:338px;
  top:1233px;
  width:110px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6033 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u6034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u6034 {
  position:absolute;
  left:530px;
  top:1232px;
  width:74px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6035 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u6036 {
  position:absolute;
  left:705px;
  top:1231px;
  width:96px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6037 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u6038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u6038 {
  position:absolute;
  left:801px;
  top:1234px;
  width:119px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6039 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u6040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:57px;
}
#u6040 {
  position:absolute;
  left:923px;
  top:1212px;
  width:191px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6041 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u6042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:296px;
}
#u6042 {
  position:absolute;
  left:800px;
  top:988px;
  width:1px;
  height:295px;
  font-size:16px;
}
#u6043 {
  position:absolute;
  left:2px;
  top:140px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:296px;
}
#u6044 {
  position:absolute;
  left:339px;
  top:988px;
  width:1px;
  height:295px;
  font-size:16px;
}
#u6045 {
  position:absolute;
  left:2px;
  top:140px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
}
#u6046 {
  position:absolute;
  left:604px;
  top:949px;
  width:99px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u6047 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u6048 {
  position:absolute;
  left:604px;
  top:1017px;
  width:99px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u6050 {
  position:absolute;
  left:604px;
  top:1093px;
  width:99px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6051 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u6052 {
  position:absolute;
  left:604px;
  top:1161px;
  width:99px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6053 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u6054 {
  position:absolute;
  left:604px;
  top:1231px;
  width:99px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u6055 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6056 {
  position:absolute;
  left:1027px;
  top:882px;
  width:87px;
  height:35px;
  color:#FFFFFF;
}
#u6057 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u6058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6058 {
  position:absolute;
  left:923px;
  top:882px;
  width:94px;
  height:35px;
}
#u6059 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
