body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1103px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u540 {
  position:absolute;
  left:59px;
  top:49px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u541 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u542 {
  position:absolute;
  left:165px;
  top:62px;
  width:111px;
  height:25px;
}
#u543 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u544 {
  position:absolute;
  left:353px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u545 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u546 {
  position:absolute;
  left:430px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u547 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u548 {
  position:absolute;
  left:507px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u549 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u550 {
  position:absolute;
  left:584px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u551 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u552 {
  position:absolute;
  left:661px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u553 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u554 {
  position:absolute;
  left:738px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u555 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u556 {
  position:absolute;
  left:815px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u557 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:1010px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u558 {
  position:absolute;
  left:59px;
  top:101px;
  width:1044px;
  height:1010px;
}
#u559 {
  position:absolute;
  left:2px;
  top:497px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u560 {
  position:absolute;
  left:520px;
  top:1036px;
  width:34px;
  height:35px;
  color:#0099FF;
}
#u561 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u562 {
  position:absolute;
  left:564px;
  top:1036px;
  width:34px;
  height:35px;
}
#u563 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u564 {
  position:absolute;
  left:608px;
  top:1036px;
  width:34px;
  height:35px;
}
#u565 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u566 {
  position:absolute;
  left:480px;
  top:1036px;
  width:30px;
  height:30px;
}
#u567 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u568 {
  position:absolute;
  left:652px;
  top:1039px;
  width:30px;
  height:30px;
}
#u569 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u570 {
  position:absolute;
  left:206px;
  top:202px;
  width:223px;
  height:136px;
}
#u571 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u572 {
  position:absolute;
  left:461px;
  top:202px;
  width:223px;
  height:136px;
}
#u573 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u574 {
  position:absolute;
  left:715px;
  top:202px;
  width:223px;
  height:136px;
}
#u575 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u576 {
  position:absolute;
  left:206px;
  top:347px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u577 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u578 {
  position:absolute;
  left:461px;
  top:347px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u579 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u580 {
  position:absolute;
  left:715px;
  top:347px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u581 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u582 {
  position:absolute;
  left:205px;
  top:301px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u583 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u584 {
  position:absolute;
  left:461px;
  top:300px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u585 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u586 {
  position:absolute;
  left:715px;
  top:300px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u587 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u588 {
  position:absolute;
  left:206px;
  top:399px;
  width:223px;
  height:136px;
}
#u589 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u590 {
  position:absolute;
  left:461px;
  top:399px;
  width:223px;
  height:136px;
}
#u591 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u592 {
  position:absolute;
  left:715px;
  top:399px;
  width:223px;
  height:136px;
}
#u593 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u594 {
  position:absolute;
  left:206px;
  top:545px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u595 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u596 {
  position:absolute;
  left:461px;
  top:545px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u597 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u598 {
  position:absolute;
  left:715px;
  top:545px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u599 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u600 {
  position:absolute;
  left:205px;
  top:498px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u601 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u602 {
  position:absolute;
  left:461px;
  top:497px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u603 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u604 {
  position:absolute;
  left:715px;
  top:497px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u605 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u606 {
  position:absolute;
  left:206px;
  top:595px;
  width:223px;
  height:136px;
}
#u607 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u608 {
  position:absolute;
  left:461px;
  top:595px;
  width:223px;
  height:136px;
}
#u609 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u610 {
  position:absolute;
  left:715px;
  top:595px;
  width:223px;
  height:136px;
}
#u611 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u612 {
  position:absolute;
  left:206px;
  top:741px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u613 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u614 {
  position:absolute;
  left:461px;
  top:741px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u615 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u616 {
  position:absolute;
  left:715px;
  top:741px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u617 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u618 {
  position:absolute;
  left:205px;
  top:694px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u619 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u620 {
  position:absolute;
  left:461px;
  top:693px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u621 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u622 {
  position:absolute;
  left:715px;
  top:693px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u623 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u624 {
  position:absolute;
  left:206px;
  top:793px;
  width:223px;
  height:136px;
}
#u625 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u626 {
  position:absolute;
  left:461px;
  top:793px;
  width:223px;
  height:136px;
}
#u627 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:136px;
}
#u628 {
  position:absolute;
  left:715px;
  top:793px;
  width:223px;
  height:136px;
}
#u629 {
  position:absolute;
  left:2px;
  top:60px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u630 {
  position:absolute;
  left:206px;
  top:938px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u631 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u632 {
  position:absolute;
  left:461px;
  top:938px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u633 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u634 {
  position:absolute;
  left:715px;
  top:938px;
  width:223px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u635 {
  position:absolute;
  left:0px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u636 {
  position:absolute;
  left:205px;
  top:892px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u637 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u638 {
  position:absolute;
  left:461px;
  top:891px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u639 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.529411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u640 {
  position:absolute;
  left:715px;
  top:891px;
  width:224px;
  height:38px;
  font-family:'Yuppy TC Regular', 'Yuppy TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u641 {
  position:absolute;
  left:2px;
  top:-3px;
  width:220px;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u642 {
  position:absolute;
  left:531px;
  top:127px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u643 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
