body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4965 {
  position:absolute;
  left:61px;
  top:65px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4966 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u4967 {
  position:absolute;
  left:167px;
  top:78px;
  width:111px;
  height:25px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4969 {
  position:absolute;
  left:355px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4970 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4971 {
  position:absolute;
  left:432px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4972 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4973 {
  position:absolute;
  left:509px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4974 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4975 {
  position:absolute;
  left:586px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4976 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4977 {
  position:absolute;
  left:663px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4978 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4979 {
  position:absolute;
  left:740px;
  top:65px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4980 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u4981 {
  position:absolute;
  left:62px;
  top:939px;
  width:1043px;
  height:222px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4983 {
  position:absolute;
  left:828px;
  top:66px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u4984 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4985 {
  position:absolute;
  left:906px;
  top:67px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4986 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:441px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u4987 {
  position:absolute;
  left:62px;
  top:499px;
  width:1044px;
  height:441px;
  color:#F2F2F2;
}
#u4988 {
  position:absolute;
  left:2px;
  top:212px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:384px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4989 {
  position:absolute;
  left:62px;
  top:116px;
  width:1044px;
  height:384px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:184px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
}
#u4991 {
  position:absolute;
  left:145px;
  top:160px;
  width:290px;
  height:290px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:137px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:48px;
}
#u4993 {
  position:absolute;
  left:533px;
  top:218px;
  width:405px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u4994 {
  position:absolute;
  left:0px;
  top:13px;
  width:405px;
  word-wrap:break-word;
}
#u4995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:185px;
}
#u4995 {
  position:absolute;
  left:533px;
  top:273px;
  width:488px;
  height:185px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4996 {
  position:absolute;
  left:0px;
  top:56px;
  width:488px;
  word-wrap:break-word;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u4997 {
  position:absolute;
  left:96px;
  top:537px;
  width:419px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u4998 {
  position:absolute;
  left:0px;
  top:3px;
  width:419px;
  word-wrap:break-word;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:185px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5000 {
  position:absolute;
  left:1137px;
  top:1350px;
  width:377px;
  height:185px;
}
#u5001 {
  position:absolute;
  left:2px;
  top:84px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5002 {
  position:absolute;
  left:1147px;
  top:1353px;
  width:359px;
  height:177px;
}
#u5003 {
  position:absolute;
  left:2px;
  top:80px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u5004 {
  position:absolute;
  left:1171px;
  top:1472px;
  width:312px;
  height:1px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u5006 {
  position:absolute;
  left:1173px;
  top:1413px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u5007 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:59px;
}
#u5008 {
  position:absolute;
  left:1173px;
  top:1474px;
  width:199px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u5009 {
  position:absolute;
  left:0px;
  top:18px;
  width:199px;
  word-wrap:break-word;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
}
#u5010 {
  position:absolute;
  left:1147px;
  top:1355px;
  width:359px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u5011 {
  position:absolute;
  left:0px;
  top:16px;
  width:359px;
  word-wrap:break-word;
}
#u5012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5012 {
  position:absolute;
  left:1265px;
  top:1428px;
  width:30px;
  height:30px;
}
#u5013 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5014 {
  position:absolute;
  left:1454px;
  top:1370px;
  width:27px;
  height:27px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:447px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5017 {
  position:absolute;
  left:1136px;
  top:1569px;
  width:377px;
  height:447px;
}
#u5018 {
  position:absolute;
  left:2px;
  top:216px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:427px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5019 {
  position:absolute;
  left:1146px;
  top:1580px;
  width:359px;
  height:427px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:206px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u5021 {
  position:absolute;
  left:1170px;
  top:1693px;
  width:312px;
  height:1px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u5023 {
  position:absolute;
  left:1168px;
  top:1749px;
  width:312px;
  height:1px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u5025 {
  position:absolute;
  left:1170px;
  top:1808px;
  width:312px;
  height:1px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u5027 {
  position:absolute;
  left:1169px;
  top:1865px;
  width:312px;
  height:1px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u5029 {
  position:absolute;
  left:1171px;
  top:1921px;
  width:312px;
  height:1px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u5031 {
  position:absolute;
  left:1172px;
  top:1977px;
  width:312px;
  height:1px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u5033 {
  position:absolute;
  left:1172px;
  top:1634px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u5034 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u5035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u5035 {
  position:absolute;
  left:1172px;
  top:1695px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u5036 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u5037 {
  position:absolute;
  left:1172px;
  top:1750px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u5038 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u5039 {
  position:absolute;
  left:1172px;
  top:1809px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u5040 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u5041 {
  position:absolute;
  left:1172px;
  top:1865px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u5042 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:59px;
}
#u5043 {
  position:absolute;
  left:1172px;
  top:1922px;
  width:168px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u5044 {
  position:absolute;
  left:0px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
}
#u5045 {
  position:absolute;
  left:1146px;
  top:1580px;
  width:359px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u5046 {
  position:absolute;
  left:0px;
  top:16px;
  width:359px;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u5047 {
  position:absolute;
  left:1350px;
  top:1635px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:right;
}
#u5048 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u5049 {
  position:absolute;
  left:1350px;
  top:1696px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u5050 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u5051 {
  position:absolute;
  left:1350px;
  top:1751px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u5052 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u5053 {
  position:absolute;
  left:1350px;
  top:1810px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u5054 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u5055 {
  position:absolute;
  left:1350px;
  top:1866px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u5056 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u5057 {
  position:absolute;
  left:1350px;
  top:1923px;
  width:130px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
  text-align:right;
}
#u5058 {
  position:absolute;
  left:0px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u5059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5059 {
  position:absolute;
  left:1218px;
  top:1649px;
  width:30px;
  height:30px;
}
#u5060 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5061 {
  position:absolute;
  left:1453px;
  top:1596px;
  width:27px;
  height:27px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5063 {
  position:absolute;
  left:61px;
  top:1255px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5064 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u5065 {
  position:absolute;
  left:167px;
  top:1268px;
  width:111px;
  height:25px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5067 {
  position:absolute;
  left:355px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5068 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5069 {
  position:absolute;
  left:432px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5070 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5071 {
  position:absolute;
  left:509px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5072 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5073 {
  position:absolute;
  left:586px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5074 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5075 {
  position:absolute;
  left:663px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5076 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5077 {
  position:absolute;
  left:740px;
  top:1255px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5078 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u5079 {
  position:absolute;
  left:62px;
  top:2129px;
  width:1043px;
  height:222px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5081 {
  position:absolute;
  left:828px;
  top:1256px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5082 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u5083 {
  position:absolute;
  left:906px;
  top:1257px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5084 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:441px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u5085 {
  position:absolute;
  left:62px;
  top:1689px;
  width:1044px;
  height:441px;
  color:#F2F2F2;
}
#u5086 {
  position:absolute;
  left:2px;
  top:212px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:384px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5087 {
  position:absolute;
  left:62px;
  top:1306px;
  width:1044px;
  height:384px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:184px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
}
#u5089 {
  position:absolute;
  left:145px;
  top:1350px;
  width:290px;
  height:290px;
}
#u5090 {
  position:absolute;
  left:2px;
  top:137px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:48px;
}
#u5091 {
  position:absolute;
  left:533px;
  top:1408px;
  width:405px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u5092 {
  position:absolute;
  left:0px;
  top:13px;
  width:405px;
  word-wrap:break-word;
}
#u5093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:185px;
}
#u5093 {
  position:absolute;
  left:533px;
  top:1463px;
  width:488px;
  height:185px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5094 {
  position:absolute;
  left:0px;
  top:56px;
  width:488px;
  word-wrap:break-word;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:42px;
}
#u5095 {
  position:absolute;
  left:96px;
  top:1727px;
  width:419px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u5096 {
  position:absolute;
  left:0px;
  top:3px;
  width:419px;
  word-wrap:break-word;
}
#u5097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.43921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5097 {
  position:absolute;
  left:369px;
  top:1606px;
  width:66px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5098 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u5099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u5099 {
  position:absolute;
  left:988px;
  top:1350px;
  width:39px;
  height:39px;
}
#u5100 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u5101 {
  position:absolute;
  left:1037px;
  top:1350px;
  width:39px;
  height:39px;
}
#u5102 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5103 {
  position:absolute;
  left:940px;
  top:1719px;
  width:136px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5104 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u5105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:42px;
}
#u5106 {
  position:absolute;
  left:533px;
  top:1356px;
  width:405px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u5107 {
  position:absolute;
  left:0px;
  top:2px;
  width:405px;
  word-wrap:break-word;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u5109 {
  position:absolute;
  left:693px;
  top:1368px;
  width:147px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5110 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u5111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:34px;
}
#u5111 {
  position:absolute;
  left:677px;
  top:1358px;
  width:8px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5112 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:1097px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5114 {
  position:absolute;
  left:62px;
  top:1255px;
  width:1044px;
  height:1097px;
}
#u5115 {
  position:absolute;
  left:2px;
  top:540px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:398px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5116 {
  position:absolute;
  left:308px;
  top:1568px;
  width:564px;
  height:398px;
}
#u5117 {
  position:absolute;
  left:2px;
  top:191px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:49px;
}
#u5118 {
  position:absolute;
  left:308px;
  top:1569px;
  width:564px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u5119 {
  position:absolute;
  left:0px;
  top:12px;
  width:564px;
  word-wrap:break-word;
}
#u5120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u5120 {
  position:absolute;
  left:835px;
  top:1580px;
  width:27px;
  height:24px;
}
#u5121 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5122 {
  position:absolute;
  left:423px;
  top:1742px;
  width:334px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5123 {
  position:absolute;
  left:2px;
  top:11px;
  width:330px;
  word-wrap:break-word;
}
#u5124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u5124 {
  position:absolute;
  left:423px;
  top:1743px;
  width:72px;
  height:40px;
  font-size:16px;
  color:#999999;
}
#u5125 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u5126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u5126 {
  position:absolute;
  left:482px;
  top:1749px;
  width:1px;
  height:28px;
}
#u5127 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:7px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u5128 {
  position:absolute;
  left:378px;
  top:1866px;
  width:158px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u5129 {
  position:absolute;
  left:2px;
  top:13px;
  width:154px;
  word-wrap:break-word;
}
#u5130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5130 {
  position:absolute;
  left:644px;
  top:1866px;
  width:158px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5131 {
  position:absolute;
  left:2px;
  top:14px;
  width:154px;
  word-wrap:break-word;
}
#u5132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5132 {
  position:absolute;
  left:423px;
  top:1669px;
  width:333px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5133 {
  position:absolute;
  left:2px;
  top:11px;
  width:329px;
  word-wrap:break-word;
}
#u5134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:24px;
}
#u5134 {
  position:absolute;
  left:355px;
  top:859px;
  width:388px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u5135 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u5136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:42px;
}
#u5137 {
  position:absolute;
  left:533px;
  top:158px;
  width:405px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
}
#u5138 {
  position:absolute;
  left:0px;
  top:2px;
  width:405px;
  word-wrap:break-word;
}
#u5139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u5140 {
  position:absolute;
  left:693px;
  top:170px;
  width:147px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5141 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:34px;
}
#u5142 {
  position:absolute;
  left:677px;
  top:160px;
  width:8px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5143 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u5144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5144 {
  position:absolute;
  left:724px;
  top:1678px;
  width:24px;
  height:24px;
}
#u5145 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u5146 {
  position:absolute;
  left:761px;
  top:1668px;
  width:113px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u5147 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u5148 {
  position:absolute;
  left:761px;
  top:1700px;
  width:113px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u5149 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u5150 {
  position:absolute;
  left:761px;
  top:1729px;
  width:145px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u5151 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u5152 {
  position:absolute;
  left:762px;
  top:1758px;
  width:129px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u5153 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u5154 {
  position:absolute;
  left:761px;
  top:1794px;
  width:145px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u5155 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u5156 {
  position:absolute;
  left:761px;
  top:1823px;
  width:145px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u5157 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#CCCCCC;
}
#u5159 {
  position:absolute;
  left:158px;
  top:629px;
  width:147px;
  height:147px;
  font-size:36px;
  color:#CCCCCC;
}
#u5160 {
  position:absolute;
  left:2px;
  top:52px;
  width:143px;
  word-wrap:break-word;
}
#u5161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5161 {
  position:absolute;
  left:936px;
  top:525px;
  width:136px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5162 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u5163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u5163 {
  position:absolute;
  left:1018px;
  top:156px;
  width:54px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u5164 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u5165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:9px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5165 {
  position:absolute;
  left:800px;
  top:525px;
  width:111px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5166 {
  position:absolute;
  left:2px;
  top:14px;
  width:107px;
  word-wrap:break-word;
}
#u5167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
}
#u5168 {
  position:absolute;
  left:337px;
  top:796px;
  width:146px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5169 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u5170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5170 {
  position:absolute;
  left:336px;
  top:629px;
  width:147px;
  height:147px;
}
#u5171 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:147px;
}
#u5172 {
  position:absolute;
  left:336px;
  top:629px;
  width:147px;
  height:147px;
}
#u5173 {
  position:absolute;
  left:2px;
  top:66px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u5174 {
  position:absolute;
  left:440px;
  top:732px;
  width:43px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5175 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  word-wrap:break-word;
}
