body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1103px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u668 {
  position:absolute;
  left:59px;
  top:49px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u669 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u670 {
  position:absolute;
  left:165px;
  top:62px;
  width:111px;
  height:25px;
}
#u671 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u672 {
  position:absolute;
  left:353px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u673 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u674 {
  position:absolute;
  left:430px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u675 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u676 {
  position:absolute;
  left:507px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u677 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u678 {
  position:absolute;
  left:584px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u679 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u680 {
  position:absolute;
  left:661px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u681 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u682 {
  position:absolute;
  left:738px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u683 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u684 {
  position:absolute;
  left:815px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u685 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:1443px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  position:absolute;
  left:59px;
  top:101px;
  width:1044px;
  height:1443px;
}
#u687 {
  position:absolute;
  left:2px;
  top:714px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u689 {
  position:absolute;
  left:501px;
  top:1218px;
  width:72px;
  height:72px;
}
#u690 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u691 {
  position:absolute;
  left:501px;
  top:1320px;
  width:72px;
  height:72px;
}
#u692 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u693 {
  position:absolute;
  left:501px;
  top:1421px;
  width:72px;
  height:72px;
}
#u694 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:90px;
}
#u695 {
  position:absolute;
  left:610px;
  top:1211px;
  width:379px;
  height:90px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:90px;
}
#u697 {
  position:absolute;
  left:610px;
  top:1434px;
  width:379px;
  height:90px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:290px;
}
#u699 {
  position:absolute;
  left:192px;
  top:1211px;
  width:269px;
  height:290px;
}
#u700 {
  position:absolute;
  left:2px;
  top:137px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:90px;
}
#u701 {
  position:absolute;
  left:610px;
  top:1323px;
  width:379px;
  height:90px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:294px;
}
#u704 {
  position:absolute;
  left:192px;
  top:783px;
  width:806px;
  height:294px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  word-wrap:break-word;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:312px;
}
#u707 {
  position:absolute;
  left:191px;
  top:360px;
  width:816px;
  height:312px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u709 {
  position:absolute;
  left:489px;
  top:158px;
  width:185px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u710 {
  position:absolute;
  left:2px;
  top:6px;
  width:181px;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:2px;
}
#u711 {
  position:absolute;
  left:166px;
  top:341px;
  width:815px;
  height:1px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
}
#u713 {
  position:absolute;
  left:191px;
  top:308px;
  width:152px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:2px;
}
#u715 {
  position:absolute;
  left:165px;
  top:762px;
  width:815px;
  height:1px;
}
#u716 {
  position:absolute;
  left:2px;
  top:-8px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
}
#u717 {
  position:absolute;
  left:190px;
  top:729px;
  width:152px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:2px;
}
#u719 {
  position:absolute;
  left:168px;
  top:1171px;
  width:815px;
  height:1px;
}
#u720 {
  position:absolute;
  left:2px;
  top:-8px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
}
#u721 {
  position:absolute;
  left:193px;
  top:1138px;
  width:152px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
