body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1103px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u601 {
  position:absolute;
  left:59px;
  top:49px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u602 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u603 {
  position:absolute;
  left:165px;
  top:62px;
  width:111px;
  height:25px;
}
#u604 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u605 {
  position:absolute;
  left:353px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u606 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u607 {
  position:absolute;
  left:430px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u608 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u609 {
  position:absolute;
  left:507px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u610 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u611 {
  position:absolute;
  left:584px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u612 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u613 {
  position:absolute;
  left:661px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u614 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u615 {
  position:absolute;
  left:738px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u616 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u617 {
  position:absolute;
  left:815px;
  top:49px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u618 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:1378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  position:absolute;
  left:59px;
  top:101px;
  width:1044px;
  height:1378px;
}
#u620 {
  position:absolute;
  left:2px;
  top:681px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u622 {
  position:absolute;
  left:584px;
  top:1061px;
  width:72px;
  height:72px;
}
#u623 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u624 {
  position:absolute;
  left:584px;
  top:1163px;
  width:72px;
  height:72px;
}
#u625 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u626 {
  position:absolute;
  left:584px;
  top:1264px;
  width:72px;
  height:72px;
}
#u627 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:90px;
}
#u628 {
  position:absolute;
  left:693px;
  top:1054px;
  width:379px;
  height:90px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:90px;
}
#u630 {
  position:absolute;
  left:693px;
  top:1277px;
  width:379px;
  height:90px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:290px;
}
#u632 {
  position:absolute;
  left:275px;
  top:1054px;
  width:269px;
  height:290px;
}
#u633 {
  position:absolute;
  left:2px;
  top:137px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:90px;
}
#u634 {
  position:absolute;
  left:693px;
  top:1166px;
  width:379px;
  height:90px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:294px;
}
#u637 {
  position:absolute;
  left:275px;
  top:626px;
  width:806px;
  height:294px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  word-wrap:break-word;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:312px;
}
#u640 {
  position:absolute;
  left:274px;
  top:203px;
  width:816px;
  height:312px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u642 {
  position:absolute;
  left:87px;
  top:164px;
  width:122px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u643 {
  position:absolute;
  left:2px;
  top:9px;
  width:118px;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:2px;
}
#u644 {
  position:absolute;
  left:249px;
  top:184px;
  width:815px;
  height:1px;
}
#u645 {
  position:absolute;
  left:2px;
  top:-8px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
}
#u646 {
  position:absolute;
  left:274px;
  top:151px;
  width:152px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:2px;
}
#u648 {
  position:absolute;
  left:248px;
  top:605px;
  width:815px;
  height:1px;
}
#u649 {
  position:absolute;
  left:2px;
  top:-8px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
}
#u650 {
  position:absolute;
  left:273px;
  top:572px;
  width:152px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:2px;
}
#u652 {
  position:absolute;
  left:251px;
  top:1014px;
  width:815px;
  height:1px;
}
#u653 {
  position:absolute;
  left:2px;
  top:-8px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
}
#u654 {
  position:absolute;
  left:276px;
  top:981px;
  width:152px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
