body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u6872 {
  position:absolute;
  left:54px;
  top:95px;
  width:1044px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u6873 {
  position:absolute;
  left:2px;
  top:18px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
}
#u6874 {
  position:absolute;
  left:160px;
  top:108px;
  width:111px;
  height:25px;
}
#u6875 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6876 {
  position:absolute;
  left:348px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6877 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6878 {
  position:absolute;
  left:425px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6879 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6880 {
  position:absolute;
  left:502px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6881 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6882 {
  position:absolute;
  left:579px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6883 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6884 {
  position:absolute;
  left:656px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6885 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6886 {
  position:absolute;
  left:733px;
  top:95px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6887 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:222px;
}
#u6888 {
  position:absolute;
  left:56px;
  top:1205px;
  width:1043px;
  height:222px;
}
#u6889 {
  position:absolute;
  left:2px;
  top:103px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6890 {
  position:absolute;
  left:821px;
  top:96px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u6891 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u6892 {
  position:absolute;
  left:899px;
  top:97px;
  width:78px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6893 {
  position:absolute;
  left:2px;
  top:15px;
  width:74px;
  word-wrap:break-word;
}
#u6894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:1058px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u6894 {
  position:absolute;
  left:55px;
  top:147px;
  width:1044px;
  height:1058px;
  color:#F2F2F2;
}
#u6895 {
  position:absolute;
  left:2px;
  top:521px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:233px;
  background:inherit;
  background-color:rgba(0, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6896 {
  position:absolute;
  left:706px;
  top:296px;
  width:168px;
  height:233px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6897 {
  position:absolute;
  left:2px;
  top:104px;
  width:164px;
  word-wrap:break-word;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6898 {
  position:absolute;
  left:280px;
  top:296px;
  width:427px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6899 {
  position:absolute;
  left:2px;
  top:19px;
  width:423px;
  word-wrap:break-word;
}
#u6900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6900 {
  position:absolute;
  left:280px;
  top:396px;
  width:427px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:13px;
  width:423px;
  word-wrap:break-word;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6902 {
  position:absolute;
  left:280px;
  top:440px;
  width:427px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:13px;
  width:423px;
  word-wrap:break-word;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6904 {
  position:absolute;
  left:280px;
  top:484px;
  width:427px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6905 {
  position:absolute;
  left:2px;
  top:13px;
  width:423px;
  word-wrap:break-word;
}
#u6906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:112px;
}
#u6908 {
  position:absolute;
  left:280px;
  top:1018px;
  width:291px;
  height:110px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:47px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:112px;
}
#u6911 {
  position:absolute;
  left:280px;
  top:1018px;
  width:291px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#0099FF;
}
#u6912 {
  position:absolute;
  left:2px;
  top:40px;
  width:287px;
  word-wrap:break-word;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:112px;
}
#u6914 {
  position:absolute;
  left:584px;
  top:1018px;
  width:291px;
  height:110px;
}
#u6915 {
  position:absolute;
  left:2px;
  top:47px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:112px;
}
#u6917 {
  position:absolute;
  left:584px;
  top:1018px;
  width:291px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#0099FF;
}
#u6918 {
  position:absolute;
  left:2px;
  top:40px;
  width:287px;
  word-wrap:break-word;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:47px;
}
#u6919 {
  position:absolute;
  left:411px;
  top:185px;
  width:334px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u6920 {
  position:absolute;
  left:0px;
  top:9px;
  width:334px;
  word-wrap:break-word;
}
#u6921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6921 {
  position:absolute;
  left:280px;
  top:352px;
  width:427px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6922 {
  position:absolute;
  left:2px;
  top:13px;
  width:423px;
  word-wrap:break-word;
}
#u6923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6925 {
  position:absolute;
  left:280px;
  top:849px;
  width:595px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6926 {
  position:absolute;
  left:2px;
  top:35px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u6927 {
  position:absolute;
  left:803px;
  top:864px;
  width:48px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  text-align:center;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u6929 {
  position:absolute;
  left:802px;
  top:900px;
  width:26px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  text-align:center;
}
#u6930 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u6931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u6931 {
  position:absolute;
  left:334px;
  top:866px;
  width:75px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6932 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u6933 {
  position:absolute;
  left:343px;
  top:902px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6934 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6935 {
  position:absolute;
  left:294px;
  top:879px;
  width:30px;
  height:30px;
}
#u6936 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6937 {
  position:absolute;
  left:280px;
  top:570px;
  width:595px;
  height:199px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:92px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:178px;
}
#u6939 {
  position:absolute;
  left:342px;
  top:585px;
  width:484px;
  height:178px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6940 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6941 {
  position:absolute;
  left:280px;
  top:768px;
  width:595px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6942 {
  position:absolute;
  left:2px;
  top:33px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6943 {
  position:absolute;
  left:294px;
  top:794px;
  width:30px;
  height:30px;
}
#u6944 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:51px;
}
#u6945 {
  position:absolute;
  left:342px;
  top:780px;
  width:484px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6946 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u6947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u6947 {
  position:absolute;
  left:457px;
  top:779px;
  width:123px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u6948 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u6949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6949 {
  position:absolute;
  left:299px;
  top:587px;
  width:25px;
  height:25px;
}
#u6950 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:28px;
}
#u6951 {
  position:absolute;
  left:280px;
  top:942px;
  width:595px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6952 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  word-wrap:break-word;
}
