body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1091px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2238 {
  position:absolute;
  left:43px;
  top:47px;
  width:1048px;
  height:589px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
  background:inherit;
  background-color:rgba(30, 30, 30, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 30, 30, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2241 {
  position:absolute;
  left:573px;
  top:600px;
  width:102px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2242 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:29px;
}
#u2243 {
  position:absolute;
  left:454px;
  top:600px;
  width:136px;
  height:29px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:52px;
}
#u2245 {
  position:absolute;
  left:43px;
  top:584px;
  width:1048px;
  height:52px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:18px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:439px;
}
#u2247 {
  position:absolute;
  left:43px;
  top:122px;
  width:1048px;
  height:439px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:212px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2250 {
  position:absolute;
  left:43px;
  top:727px;
  width:1048px;
  height:589px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:186px;
}
#u2252 {
  position:absolute;
  left:43px;
  top:1130px;
  width:1048px;
  height:186px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:85px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2255 {
  position:absolute;
  left:43px;
  top:1370px;
  width:1048px;
  height:589px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:186px;
}
#u2257 {
  position:absolute;
  left:43px;
  top:1773px;
  width:1048px;
  height:186px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:85px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2260 {
  position:absolute;
  left:43px;
  top:2016px;
  width:1048px;
  height:589px;
}
#u2261 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:186px;
}
#u2262 {
  position:absolute;
  left:43px;
  top:2419px;
  width:1048px;
  height:186px;
}
#u2263 {
  position:absolute;
  left:2px;
  top:85px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2265 {
  position:absolute;
  left:43px;
  top:2681px;
  width:1048px;
  height:589px;
}
#u2266 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:186px;
}
#u2267 {
  position:absolute;
  left:43px;
  top:3084px;
  width:1048px;
  height:186px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:85px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:588px;
}
#u2270 {
  position:absolute;
  left:43px;
  top:3376px;
  width:1048px;
  height:588px;
}
#u2271 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
