body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1091px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2057 {
  position:absolute;
  left:43px;
  top:47px;
  width:1048px;
  height:589px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
  background:inherit;
  background-color:rgba(30, 30, 30, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 30, 30, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2060 {
  position:absolute;
  left:573px;
  top:600px;
  width:102px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:29px;
}
#u2062 {
  position:absolute;
  left:454px;
  top:600px;
  width:136px;
  height:29px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:52px;
}
#u2064 {
  position:absolute;
  left:43px;
  top:584px;
  width:1048px;
  height:52px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:18px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:439px;
}
#u2066 {
  position:absolute;
  left:43px;
  top:122px;
  width:1048px;
  height:439px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:212px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2069 {
  position:absolute;
  left:43px;
  top:727px;
  width:1048px;
  height:589px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:186px;
}
#u2071 {
  position:absolute;
  left:43px;
  top:1130px;
  width:1048px;
  height:186px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:85px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2074 {
  position:absolute;
  left:43px;
  top:1370px;
  width:1048px;
  height:589px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:186px;
}
#u2076 {
  position:absolute;
  left:43px;
  top:1773px;
  width:1048px;
  height:186px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:85px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2079 {
  position:absolute;
  left:43px;
  top:2016px;
  width:1048px;
  height:589px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:186px;
}
#u2081 {
  position:absolute;
  left:43px;
  top:2419px;
  width:1048px;
  height:186px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:85px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:589px;
}
#u2084 {
  position:absolute;
  left:43px;
  top:2681px;
  width:1048px;
  height:589px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:186px;
}
#u2086 {
  position:absolute;
  left:43px;
  top:3084px;
  width:1048px;
  height:186px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:85px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:588px;
}
#u2089 {
  position:absolute;
  left:43px;
  top:3376px;
  width:1048px;
  height:588px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:286px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
