body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1283px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:703px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:81px;
  top:25px;
  width:1077px;
  height:703px;
}
#u2 {
  position:absolute;
  left:2px;
  top:344px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:81px;
  top:25px;
  width:1077px;
  height:45px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u6 {
  position:absolute;
  left:108px;
  top:39px;
  width:118px;
  height:16px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:50px;
  background:inherit;
  background-color:rgba(45, 89, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 89, 223, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:448px;
  top:413px;
  width:334px;
  height:50px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u10 {
  position:absolute;
  left:448px;
  top:257px;
  width:334px;
  height:41px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:330px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12 {
  position:absolute;
  left:448px;
  top:328px;
  width:334px;
  height:41px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:330px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u14 {
  position:absolute;
  left:448px;
  top:258px;
  width:72px;
  height:40px;
  font-size:16px;
  color:#999999;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u16 {
  position:absolute;
  left:510px;
  top:264px;
  width:1px;
  height:28px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u18 {
  position:absolute;
  left:720px;
  top:373px;
  width:61px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#C9C9C9;
  text-align:center;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:47px;
}
#u20 {
  position:absolute;
  left:448px;
  top:170px;
  width:333px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u21 {
  position:absolute;
  left:0px;
  top:9px;
  width:333px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u22 {
  position:absolute;
  left:744px;
  top:341px;
  width:24px;
  height:15px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u24 {
  position:absolute;
  left:792px;
  top:341px;
  width:24px;
  height:15px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u26 {
  position:absolute;
  left:81px;
  top:938px;
  width:227px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:223px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u28 {
  position:absolute;
  left:81px;
  top:1019px;
  width:227px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:223px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u30 {
  position:absolute;
  left:374px;
  top:975px;
  width:290px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:286px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u32 {
  position:absolute;
  left:723px;
  top:975px;
  width:227px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:223px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u34 {
  position:absolute;
  left:1010px;
  top:975px;
  width:273px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399FF;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:269px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:374px;
  top:1002px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#FFFFFF;
}
#u36_seg0 {
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u36_seg1 {
  position:absolute;
  left:-58px;
  top:-41px;
  width:8px;
  height:45px;
}
#u36_seg2 {
  position:absolute;
  left:-66px;
  top:-41px;
  width:16px;
  height:8px;
}
#u36_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:374px;
  top:1002px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#FFFFFF;
}
#u38_seg0 {
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u38_seg1 {
  position:absolute;
  left:-58px;
  top:-4px;
  width:8px;
  height:52px;
}
#u38_seg2 {
  position:absolute;
  left:-66px;
  top:40px;
  width:16px;
  height:8px;
}
#u38_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:-104px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:723px;
  top:1002px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#FFFFFF;
}
#u40_seg0 {
  position:absolute;
  left:-59px;
  top:-4px;
  width:63px;
  height:8px;
}
#u40_seg1 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1010px;
  top:1002px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#FFFFFF;
}
#u42_seg0 {
  position:absolute;
  left:-60px;
  top:-4px;
  width:64px;
  height:8px;
}
#u42_seg1 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
